<template>
  <div id="drawerapp">
    <v-app-bar app color="primary" dark elevation="0">
      <v-app-bar-nav-icon
        @click.stop="sidebarMenu = !sidebarMenu"
      ></v-app-bar-nav-icon>
      <v-list-item class="hidden-sm-and-down">
        <v-icon>mdi-weather-sunny</v-icon>
        <v-list-item-action>
          <v-switch color="secondary " v-model="isDark" inset></v-switch>
        </v-list-item-action>
        <v-icon class="pl-2">mdi-weather-night</v-icon>
      </v-list-item>
      <v-toolbar-items>
        <v-btn
          text
          v-for="(item, index) in menuItems"
          :key="index"
          :to="{ name: item.link }"
          exact
          :class="['hidden-sm-and-down', item.class]"
          color="secondary"
        >
          <v-icon>{{ item.icon }}</v-icon>
          &nbsp;{{ item.title }}
        </v-btn>
      </v-toolbar-items>
      <LocaleChanger />
    </v-app-bar>

    <v-navigation-drawer
      v-model="sidebarMenu"
      app
      floating
      :permanent="sidebarMenu"
      :mini-variant.sync="mini"
      height="100%"
      width="344"
      color="dark"
    >
      <!-- <v-system-bar></v-system-bar> -->
      <v-list>
        <v-list-item>
          <v-list-item-action>
            <v-icon @click.stop="sidebarMenu = !sidebarMenu" color="primary"
              >mdi-chevron-left</v-icon
            >
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="primary--text" dark>
              <h4 class="font-weight-thin">{{ appTitle }}</h4>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <!-- </v-list> -->
        <v-list-item class="px-2" @click="toggleMini = !toggleMini">
          <v-list-item-avatar>
            <v-icon color="primary">mdi-account-outline</v-icon>
          </v-list-item-avatar>
          <v-list-item-content class="text-truncate"> </v-list-item-content>
          <v-btn icon small>
            <v-icon color="primary">mdi-chevron-left</v-icon>
          </v-btn>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <template>
        <v-card class="mx-auto" width="300">
          <v-list nav>
            <v-list-item href="/home">
              <v-list-item-icon>
                <v-icon color="primary">mdi-home</v-icon>
              </v-list-item-icon>
              <v-list-item-title class="primary--text" dark
                >Home</v-list-item-title
              >
            </v-list-item>
            <v-list-item v-if="admin" href="/admin/dashboard">
              <v-list-item-icon>
                <v-icon color="primary">mdi-view-dashboard</v-icon>
              </v-list-item-icon>
              <v-list-item-title class="primary--text" dark>
                {{ $t('dashboardItems.TITLE') }}</v-list-item-title
              >
            </v-list-item>
            <v-list-group v-if="admin" :value="true" no-action color="primary">
              <v-icon slot="prependIcon" color="primary"
                >mdi-chart-line-stacked</v-icon
              >
              <template v-slot:activator>
                <!-- <v-list-item-content> -->
                <v-list-item>
                  <v-list-item-title class="primary--text" dark>{{
                    $t('manageItems.TITLE')
                  }}</v-list-item-title>
                </v-list-item>
              </template>

              <v-list-item
                v-for="(item, index) in manageItems"
                :key="index"
                :to="{ name: item.link }"
                exact
                :class="[item.class]"
              >
                <v-list-item-content>
                  <!-- :class="customColor(item.title)" -->
                  <v-list-item-title class="primary--text">{{
                    item.title
                  }}</v-list-item-title>
                </v-list-item-content>
                <v-icon color="primary">
                  {{ item.icon }}
                </v-icon>
              </v-list-item>
            </v-list-group>
            <v-list-group v-if="admin" :value="true" no-action color="primary">
              <v-icon slot="prependIcon" color="primary"
                >mdi-account-supervisor</v-icon
              >
              <template v-slot:activator>
                <!-- <v-list-item-content> -->
                <v-list-item>
                  <v-list-item-title class="primary--text" dark>{{
                    $t('adminItems.ADMIN')
                  }}</v-list-item-title>
                </v-list-item>
              </template>

              <v-list-item
                v-for="(item, index) in adminItems"
                :key="index"
                :to="{ name: item.link }"
                exact
                :class="[item.class]"
              >
                <v-list-item-content>
                  <!-- :class="customColor(item.title)" -->
                  <v-list-item-title class="primary--text">{{
                    item.title
                  }}</v-list-item-title>
                </v-list-item-content>
                <v-icon color="primary">
                  {{ item.icon }}
                </v-icon>
              </v-list-item>
            </v-list-group>
            <v-list-group v-if="admin" :value="false" no-action color="primary">
              <v-icon slot="prependIcon" color="primary"
                >mdi-stack-overflow</v-icon
              >
              <template v-slot:activator>
                <v-list-item-content>
                  <!-- <v-list-item-icon  color="primary">
                    <v-icon mdi-account-supervisor color="primary" ></v-icon>
                  </v-list-item-icon> -->
                  <v-list-item-title class="primary--text" dark>{{
                    $t('controlItems.CONTROL')
                  }}</v-list-item-title>
                </v-list-item-content>
              </template>

              <v-list-item
                v-for="(item, index) in controlItems"
                :key="index"
                :to="{ name: item.link }"
                exact
                :class="[item.class]"
                color="primary"
                dark
              >
                <v-list-item-action>
                  <v-list-item-title class="primary--text" dark>{{
                    item.title
                  }}</v-list-item-title>
                </v-list-item-action>
                <v-icon color="primary">
                  {{ item.icon }}
                </v-icon>
              </v-list-item>
            </v-list-group>
            <v-list-group v-if="admin" :value="false" no-action>
              <v-icon slot="prependIcon" color="primary">mdi-poll</v-icon>
              <template v-slot:activator>
                <v-list-item-content>
                  <v-list-item-title class="primary--text" dark>{{
                    $t('metricItems.METRICS')
                  }}</v-list-item-title>
                </v-list-item-content>
              </template>

              <v-list-item
                v-for="(item, index) in metricItems"
                :key="index"
                :to="{ name: item.link }"
                exact
                :class="[item.class]"
                color="primary"
                dark
              >
                <v-list-item-action>
                  <v-list-item-title class="primary--text" dark>{{
                    item.title
                  }}</v-list-item-title>
                </v-list-item-action>
                <v-icon color="primary" dark>
                  {{ item.icon }}
                </v-icon>
              </v-list-item>
            </v-list-group>
            <v-list-item v-if="admin">
              <v-list-item-icon>
                <v-icon color="primary">mdi-settings</v-icon>
              </v-list-item-icon>
              <v-list-item-title class="primary--text" dark>{{
                $t('adminItems.SYSTEM_CONFIG')
              }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-card>
      </template>
    </v-navigation-drawer>
  </div>
</template>

<script>
// Utilities
import { mapGetters, mapState, mapActions } from 'vuex'
import LocaleChanger from '@/components/core/LocaleChanger'
// import Home from '../components/Home.vue'
import ResizeText from 'vue-resize-text'
export default {
  name: 'Drawer',
  props: {
    expandOnHover: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      sidebarMenu: true,
      toggleMini: false,
      items: [],
      isDark: false
    }
  },
  components: {
    LocaleChanger
  },
  directives: {
    ResizeText
  },
  computed: {
    ...mapState(['barColor', 'barImage']),
    ...mapGetters(['appTitle', 'isTokenSet', 'user']),
    drawer: {
      get() {
        return this.$store.state.drawer
      },
      set(val) {
        this.$store.commit('SET_DRAWER', val)
      }
    },
    computedItems() {
      return this.items.map(this.mapItem)
    },
    profile() {
      return {
        avatar: true,
        title: this.$t('avatar')
      }
    },
    buttonText() {
      return !this.$vuetify.theme.dark ? 'Go Dark' : 'Go Light'
    },
    admin() {
      return this.user !== null ? this.user.role === 'admin' : false
    },
    adminItems() {
      return [
        {
          title: this.$t('adminItems.TASKS'),
          link: 'admin-tasks',
          icon: 'mdi-hammer-wrench',
          class: 'btnAdminTask'
        },
        {
          title: this.$t('adminItems.EQUIPMENT'),
          link: 'admin-equipment',
          icon: 'mdi-wrench',
          class: 'btnAdminEquip'
        },
        {
          title: this.$t('adminItems.TASK_EQUIPMENT'),
          link: 'admin-task-equipment',
          icon: 'mdi-toolbox-outline',
          class: 'btnAdminEquipTask'
        },
        {
          title: this.$t('adminItems.BUSINESS'),
          link: 'admin-business',
          icon: 'mdi-domain',
          class: 'btnAdminBusiness'
        },
        {
          title: this.$t('adminItems.SITE'),
          link: 'admin-sites',
          icon: 'mdi-garage-alert',
          class: 'btnAdminSite'
        },
        {
          title: this.$t('adminItems.CITIES'),
          link: 'admin-cities',
          icon: 'mdi-city',
          class: 'btnAdminCities'
        },
        {
          title: this.$t('adminItems.USERS'),
          link: 'admin-users',
          icon: 'mdi-account-multiple',
          class: 'btnAdminUsers'
        }
      ]
    },
    manageItems() {
      return [
        {
          title: this.$t('manageItems.headers.SITE_SCHEDULE'),
          link: 'admin-site-schedules',
          icon: 'mdi-home-edit-outline',
          class: 'btnAdminSiteConstraints'
        },
        {
          title: this.$t('manageItems.headers.AGENT_SCHEDULES'),
          link: 'admin-agent-schedules',
          icon: 'mdi-calendar-text',
          class: 'btnWeeklyHours'
        },
        {
          title: this.$t('manageItems.headers.CUMUL_HOURS'),
          link: 'admin-cumul-hours',
          icon: 'mdi-view-week',
          class: 'btnWeeklyHours'
        },
        // {
        //   title: this.$t('manageItems.headers.ASSIGNMENTS'),
        //   link: 'admin-assignments',
        //   icon: 'mdi-checkbox-multiple-marked-outline',
        //   class: 'btnAdminAssignments'
        // },
        {
          title: this.$t('manageItems.headers.SHIFT_CONSTRAINTS'),
          link: 'admin-shift-constraints',
          icon: 'mdi-alarm-snooze',
          class: 'btnAdminShiftConstraints'
        },
        {
          title: this.$t('manageItems.headers.SITE_CONSTRAINTS'),
          link: 'admin-site-constraints',
          icon: 'mdi-account-clock-outline',
          class: 'btnAdminSiteConstraints'
        },
        {
          title: this.$t('manageItems.headers.CLIENT_REQUESTS'),
          link: 'admin-client-requests',
          icon: 'mdi-calendar-multiple',
          class: 'btnAdminClientRequest'
        },
        {
          title: this.$t('manageItems.headers.PENALTIES'),
          link: 'manage-penalties',
          icon: 'mdi-check-all',
          class: 'btnAdminSiteConstraints'
        },
        // {
        //   title: this.$t('manageItems.headers.SITE_SCHEDULE'),
        //   link: 'admin-site-schedules',
        //   icon: 'mdi-home-edit-outline',
        //   class: 'btnAdminSiteConstraints'
        // },
        {
          title: this.$t('manageItems.headers.PUNCHCLOCKS'),
          link: 'admin-punchclocks',
          icon: 'mdi-account-card-details',
          class: 'btnAdminPunchclocks'
        },
        {
          title: this.$t('manageItems.headers.INCIDENTS'),
          link: 'admin-incidents',
          icon: 'mdi-alert',
          class: 'btnAdminIncidents'
        },
        {
          title: this.$t('manageItems.headers.DAYBOOKS'),
          link: 'admin-daybooks',
          icon: 'mdi-book-open',
          class: 'btnAdminDaybooks'
        }
      ]
    },
    controlItems() {
      return [
        {
          title: this.$t('controlItems.TRACK_AVAILABILITY'),
          link: 'control-track-availability',
          icon: 'mdi-account-heart',
          class: 'btnAdminTack'
        },
        {
          title: this.$t('controlItems.DISTRIBUTE_HOURS'),
          link: 'control-distribute-hours',
          icon: 'mdi-alarm-check',
          class: 'btnAdminCities'
        },
        {
          title: this.$t('controlItems.DAYS_OFF_CONTROL'),
          link: 'control-days-off-control',
          icon: 'mdi-xbox-controller-battery-charging',
          class: 'btnAdminCities'
        },
        {
          title: this.$t('controlItems.TRADE_SHIFT'),
          link: 'control-trade-shifts',
          icon: 'mdi-account-switch',
          class: 'btnAdminUsers'
        },
        {
          title: this.$t('controlItems.SMART_NOTES'),
          link: 'control-smart-notes',
          icon: 'mdi-music-note',
          class: 'btnAdminUsers'
        }
        // {
        //   title: this.$t('adminItems.EXCESS_DEMAND'),
        //   link: 'control-excess-demand',
        //   icon: 'mdi-checkbox-multiple-blank',
        //   class: 'btnAdminShiftConstraints'
        // },
        // {
        //   title: this.$t('adminItems.COEFFICIENTS'),
        //   link: 'control-coefficients',
        //   icon: 'mdi-numeric-9-plus-box-multiple-outline',
        //   class: 'btnAdminSiteConstraints'
        // },
        // {
        //   title: this.$t('adminItems.DISCREPANCIES'),
        //   link: 'control-discrepancies',
        //   icon: 'mdi-check-all',
        //   class: 'btnAdminSiteConstraints'
        // }
      ]
    },
    metricItems() {
      return [
        {
          title: this.$t('metricItems.METRIC_DASH'),
          link: 'metric-dash',
          icon: 'mdi-book-multiple',
          class: 'btnAdminTack'
        },
        {
          title: this.$t('metricItems.METRIC_DAYBOOKS'),
          link: 'metric-daybooks',
          icon: 'mdi-book-multiple',
          class: 'btnAdminTack'
        },
        {
          title: this.$t('metricItems.METRIC_INCIDENTS'),
          link: 'metric-incidents',
          icon: 'mdi-deathly-hallows',
          class: 'btnAdminCities'
        },
        {
          title: this.$t('metricItems.METRIC_CLIENTS'),
          link: 'metric-clients',
          icon: 'mdi-account-tie',
          class: 'btnAdminCities'
        },
        {
          title: this.$t('metricItems.METRIC_TRADE_SHIFT'),
          link: 'metric-trade-shifts',
          icon: 'mdi-tumblr-reblog',
          class: 'btnAdminUsers'
        }
      ]
    },
    menuItems() {
      if (this.isTokenSet) {
        return [
          {
            title: this.$t('Home'),
            link: 'home',
            icon: 'mdi-home',
            class: 'btnHome'
          }
          // {
          //   title: this.$t('menuItems.ABOUT'),
          //   link: 'about',
          //   icon: 'mdi-help-circle-outline',
          //   class: 'btnAbout'
          // },
          // {
          //   title: this.$t('menuItems.MY_PROFILE'),
          //   link: 'profile',
          //   icon: 'mdi-face',
          //   class: 'btnProfile'
          // }
        ]
      }
      return [
        {
          title: this.$t('Home'),
          link: 'landing',
          icon: 'mdi-home',
          class: 'btnHome'
        },
        // {
        //   title: this.$t('menuItems.ABOUT'),
        //   link: 'about',
        //   icon: 'mdi-help-circle-outline',
        //   class: 'btnAbout'
        // },
        {
          title: this.$t('menuItems.LOGIN'),
          link: 'login',
          icon: 'mdi-lock',
          class: 'btnLogin'
        }
        // {
        //   title: this.$t('menuItems.SIGNUP'),
        //   link: 'signup',
        //   icon: 'mdi-plus-circle-outline',
        //   class: 'btnLogin'
        // }
      ]
    },
    dashboardItems() {
      return [
        {
          title: this.$t('dashboardItems.DASHBOARD'),
          link: 'admin-dashboard',
          icon: 'mdi-view-dashboard',
          class: 'btnAdminTack'
        }
      ]
    }
  },
  methods: {
    mapItem(item) {
      return {
        ...item,
        children: item.children ? item.children.map(this.mapItem) : undefined,
        title: this.$t(item.title)
      }
    },
    toggleTheme() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark
    },
    customColor(text) {
      return text === 'Controles' ? 'green--text' : ''
    }
  },
  watch: {
    isDark() {
      this.$vuetify.theme.dark = this.isDark
      localStorage.setItem('dark', this.isDark)
    }
  }
}
</script>
<!-- <style lang="sass"> -->
<style>
.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.theme--light.v-application ::-webkit-scrollbar {
  width: 13px;
}

.theme--light.v-application ::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 1px solid #dadada;
}

.theme--light.v-application ::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 3px #e6e6e6;
  border-radius: 7px;
}

.theme--light.v-application ::-webkit-scrollbar-thumb:hover {
  background: black;
}

.theme--dark.v-application ::-webkit-scrollbar {
  width: 13px;
}

.theme--dark.v-application ::-webkit-scrollbar-track {
  background: #202020;
  border-left: 1px solid #2c2c2c;
}

.theme--dark.v-application ::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border: solid 3px #202020;
  border-radius: 7px;
}

.theme--dark.v-application ::-webkit-scrollbar-thumb:hover {
  background: white;
}
</style>
