<template v-slot:activator="{ on }">
  <div>
    <!-- <v-app-bar> -->
    <!-- "deep-purple accent-4"> -->
    <!-- <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon> -->
    <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->
    <!-- <span class="hidden-md-and-up"> -->
    <!-- <v-app-bar-nav-icon
        color="yellow darken-3"
        @click="sidebar = !sidebar"
      ></v-app-bar-nav-icon> -->
    <!-- </span> -->
    <!-- <div class="headline text-uppercase ml-0">
        <div v-resize-text>
          <router-link
            :to="{ name: 'home' }"
            tag="span"
            style="cursor: pointer;"
            v-if="isTokenSet"
          ></router-link>
          <router-link
            :to="{ name: 'landing' }"
            tag="span"
            style="cursor: pointer;"
            v-else
            >{{ appTitle }}</router-link
          >
        </div>
      </div> -->
    <!-- <v-spacer></v-spacer>
      <v-toolbar>
        <v-spacer></v-spacer>
        <v-spacer></v-spacer>
        <v-toolbar-title yellow>{{ appTitle }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items> -->
    <!-- <v-btn
            text
            v-for="(item, index) in menuItems"
            :key="index"
            :to="{ name: item.link }"
            exact
            :class="['hidden-sm-and-down', item.class]"
            color="yellow darken-3--text"
          >
            <v-icon>{{ item.icon }}</v-icon>
            &nbsp;{{ item.title }}
          </v-btn>
          <v-list-item class="hidden-sm-and-down">
            <v-icon>mdi-weather-sunny</v-icon>
            <v-list-item-action>
              <v-switch
                color="yellow darken-3--text"
                v-model="isDark"
                inset
              ></v-switch>
            </v-list-item-action>
            <v-icon class="pl-2">mdi-weather-night</v-icon>
          </v-list-item> -->
    <!-- <v-menu v-if="admin" offset-y>
            <template v-slot:activator="{ on }">
              <v-btn
                v-on="on"
                text
                class="btnAdmin hidden-sm-and-down"
                color="yellow darken-3--text"
              >
                <v-icon>mdi-account-supervisor</v-icon>
                &nbsp;{{ $t('adminItems.ADMIN') }}
              </v-btn>
            </template>
            <v-list>
              <v-list-item
                v-for="(item, index) in adminItems"
                :key="index"
                :to="{ name: item.link }"
                exact
                :class="[item.class]"
                color="yellow"
              >
                <v-list-item-action>
                  <v-list-item-action-text
                    v-text="item.action"
                  ></v-list-item-action-text>
                  <v-icon v-if="!active" color="grey lighten-1">
                    {{ item.icon }}
                  </v-icon>

                  <v-icon v-else color="yellow darken-3">
                    {{ item.icon }}
                  </v-icon>
                </v-list-item-action>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu> -->
    <!-- <v-divider vertical></v-divider>
          <v-menu v-if="admin" offset-y>
            <template v-slot:activator="{ on }">
              <v-btn
                v-on="on"
                text
                class="btnAdmin hidden-sm-and-down"
                color="yellow darken-3--text"
              >
                <v-icon>
                  mdi-stack-overflow
                </v-icon>
                &nbsp;{{ $t('controlItems.CONTROL') }}
              </v-btn>
            </template>
            <v-list>
              <v-list-item
                v-for="(item, index) in controlItems"
                :key="index"
                :to="{ name: item.link }"
                exact
                :class="[item.class]"
                color="yellow"
              >
                <v-list-item-action>
                  <v-list-item-action-text
                    v-text="item.action"
                  ></v-list-item-action-text>
                  <v-icon v-if="!active" color="grey lighten-1">
                    {{ item.icon }}
                  </v-icon>
                  <v-icon v-else color="yellow darken-3">
                    {{ item.icon }}
                  </v-icon>
                </v-list-item-action>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>

          <v-divider vertical></v-divider>
          <v-menu v-if="admin" offset-y>
            <template v-slot:activator="{ on }">
              <v-btn
                v-on="on"
                text
                class="btnAdmin hidden-sm-and-down"
                color="yellow darken-3--text"
              >
                <v-icon>
                  mdi-poll
                </v-icon>
                &nbsp;{{ $t('metricItems.METRICS') }}
              </v-btn>
            </template>
            <v-list>
              <v-list-item
                v-for="(item, index) in metricItems"
                :key="index"
                :to="{ name: item.link }"
                exact
                :class="[item.class]"
                color="yellow"
              >
                <v-list-item-action>
                  <v-list-item-action-text
                    v-text="item.action"
                  ></v-list-item-action-text>
                  <v-icon v-if="!active" color="grey lighten-1">
                    {{ item.icon }}
                  </v-icon>
                  <v-icon v-else color="yellow darken-3">
                    {{ item.icon }}
                  </v-icon>
                </v-list-item-action>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu> -->
    <!-- <v-btn
            text
            v-if="isTokenSet"
            @click="userLogout"
            class="hidden-sm-and-down btnLogout"
          >
            <v-icon left>mdi-exit-to-app</v-icon>
            {{ $t('menuItems.LOGOUT') }}
          </v-btn> -->
    <!-- <LocaleChanger />
        </v-toolbar-items>
      </v-toolbar>
    </v-app-bar> -->
    <!-- <v-navigation-drawer v-model="sidebar" absolute disable-resize-watcher>
      <v-list>
        <v-list-item>
          <v-list-item-content>{{ appTitle }}</v-list-item-content>
          <v-list-item-action>
            <v-btn icon @click.stop="sidebar = !sidebar">
              <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
        <v-list-item
          v-for="(item, index) in menuItems"
          :key="index"
          :to="{ name: item.link }"
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>{{ item.title }}</v-list-item-content>
        </v-list-item>
        <v-list-group v-if="admin" prepend-icon="mdi-lock" no-action>
          <v-list-item slot="activator" class="pl-0">
            <v-list-item-content>{{
              $t('adminItems.ADMIN')
            }}</v-list-item-content>
          </v-list-item>
          <v-list-item
            v-for="(item, index) in adminItems"
            :key="index"
            :to="{ name: item.link }"
            exact
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list-group>
        <v-list-group v-if="admin" prepend-icon="mdi-stack-overflow" no-action>
          <v-list-item slot="activator" class="pl-0">
            <v-list-item-content>{{
              $t('controlItems.CONTROL')
            }}</v-list-item-content>
          </v-list-item>
          <v-list-item
            v-for="(item, index) in controlItems"
            :key="index"
            :to="{ name: item.link }"
            exact
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list-group>

        <v-list-group v-if="admin" prepend-icon="mdi-poll" no-action>
          <v-list-item slot="activator" class="pl-0">
            <v-list-item-content>{{
              $t('metricItems.METRICS')
            }}</v-list-item-content>
          </v-list-item>
          <v-list-item
            v-for="(item, index) in metricItems"
            :key="index"
            :to="{ name: item.link }"
            exact
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list-group>
        <v-list-item>
          <v-list-item-action></v-list-item-action>
          <v-icon>mdi-weather-sunny</v-icon>
          <v-list-item-action class="ml-2">
            <v-switch id="themeSwitcher" v-model="isDark" inset></v-switch>
          </v-list-item-action>
          <v-icon>mdi-weather-night</v-icon>
        </v-list-item>
      </v-list>
    </v-navigation-drawer> -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
// import LocaleChanger from '@/components/core/LocaleChanger'
import ResizeText from 'vue-resize-text'
export default {
  name: 'Toolbar',
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      htmlAttrs: {
        lang: this.$i18n.locale
      },
      meta: [
        { name: 'msapplication-TileColor', content: '#ffc40d' },
        { name: 'theme-color', content: '#ffffff' },
        {
          name: 'apple-mobile-web-app-title',
          content: this.$store.getters.appTitle
        },
        { name: 'application-name', content: this.$store.getters.appTitle }
      ],
      link: [
        {
          rel: 'apple-touch-icon',
          sizes: '180x180',
          href: '/apple-touch-icon.png'
        },
        {
          rel: 'icon',
          type: 'image/png',
          sizes: '32x32',
          href: '/favicon-32x32.png'
        },
        {
          rel: 'icon',
          type: 'image/png',
          sizes: '16x16',
          href: '/favicon-16x16.png'
        },
        { rel: 'manifest', href: '/site.webmanifest' },
        { rel: 'mask-icon', color: '#5bbad5', href: '/safari-pinned-tab.svg' },
        { rel: 'favicon', href: '/favicon.ico' }
      ]
    }
  },
  components: {
    // LocaleChanger
  },
  directives: {
    ResizeText
  },
  data() {
    return {
      isDark: false,
      sidebar: false
    }
  },
  computed: {
    ...mapGetters(['appTitle', 'isTokenSet', 'user']),
    // admin() {
    //   return this.user !== null ? this.user.role === 'admin' : false
    // },
    // adminItems() {
    //   return [
    //     {
    //       title: this.$t('adminItems.ASSIGNMENTS'),
    //       link: 'admin-assignments',
    //       icon: 'mdi-checkbox-multiple-marked-outline',
    //       class: 'btnAdminAssignments'
    //     },
    //     {
    //       title: this.$t('adminItems.SHIFT_CONSTRAINTS'),
    //       link: 'admin-shift-constraints',
    //       icon: 'mdi-alarm-snooze',
    //       class: 'btnAdminShiftConstraints'
    //     },
    //     {
    //       title: this.$t('adminItems.SITE_CONSTRAINTS'),
    //       link: 'admin-site-constraints',
    //       icon: 'mdi-account-clock-outline',
    //       class: 'btnAdminSiteConstraints'
    //     },
    //     {
    //       title: this.$t('adminItems.CLIENT_REQUESTS'),
    //       link: 'admin-client-requests',
    //       icon: 'mdi-calendar-multiple',
    //       class: 'btnAdminClientRequest'
    //     },
    //     {
    //       title: this.$t('adminItems.SITE_SCHEDULE'),
    //       link: 'admin-site-schedules',
    //       icon: 'mdi-home-edit-outline',
    //       class: 'btnAdminSiteConstraints'
    //     },
    //     {
    //       title: this.$t('adminItems.PUNCHCLOCKS'),
    //       link: 'admin-punchclocks',
    //       icon: 'mdi-account-card-details',
    //       class: 'btnAdminPunchclocks'
    //     },
    //     {
    //       title: this.$t('adminItems.INCIDENTS'),
    //       link: 'admin-incidents',
    //       icon: 'mdi-alert',
    //       class: 'btnAdminIncidents'
    //     },
    //     {
    //       title: this.$t('adminItems.DAYBOOKS'),
    //       link: 'admin-daybooks',
    //       icon: 'mdi-book-open',
    //       class: 'btnAdminDaybooks'
    //     },
    //     {
    //       title: this.$t('adminItems.TASKS'),
    //       link: 'admin-tasks',
    //       icon: 'mdi-hammer-wrench',
    //       class: 'btnAdminTask'
    //     },
    //     {
    //       title: this.$t('adminItems.EQUIPMENT'),
    //       link: 'admin-equipment',
    //       icon: 'mdi-wrench',
    //       class: 'btnAdminEquip'
    //     },
    //     {
    //       title: this.$t('adminItems.TASK_EQUIPMENT'),
    //       link: 'admin-task-equipment',
    //       icon: 'mdi-toolbox-outline',
    //       class: 'btnAdminEquipTask'
    //     },
    //     {
    //       title: this.$t('adminItems.BUSINESS'),
    //       link: 'admin-business',
    //       icon: 'mdi-domain',
    //       class: 'btnAdminBusiness'
    //     },
    //     {
    //       title: this.$t('adminItems.SITE'),
    //       link: 'admin-sites',
    //       icon: 'mdi-garage-alert',
    //       class: 'btnAdminSite'
    //     },
    //     {
    //       title: this.$t('adminItems.CITIES'),
    //       link: 'admin-cities',
    //       icon: 'mdi-city',
    //       class: 'btnAdminCities'
    //     },
    //     {
    //       title: this.$t('adminItems.USERS'),
    //       link: 'admin-users',
    //       icon: 'mdi-account-multiple',
    //       class: 'btnAdminUsers'
    //     },
    //     {
    //       title: this.$t('adminItems.SYSTEM_CONFIG'),
    //       link: 'admin-system-settings',
    //       icon: 'mdi-settings',
    //       class: 'btnAdminSettings'
    //     }
    //     // {
    //     //   title: this.$t('adminItems.COEFFICIENTS'),
    //     //   link: 'admin-coefficients',
    //     //   icon: 'mdi-numeric-9-plus-box-multiple-outline',
    //     //   class: 'btnAdminSiteConstraints'
    //     // },
    //     // {
    //     //   title: this.$t('adminItems.DISCREPANCIES'),
    //     //   link: 'admin-discrepancies',
    //     //   icon: 'mdi-check-all',
    //     //   class: 'btnAdminSiteConstraints'
    //     // }
    //   ]
    // },
    // controlItems() {
    //   return [
    //     {
    //       title: this.$t('controlItems.TRACK_AVAILABILITY'),
    //       link: 'control-track-availability',
    //       icon: 'mdi-account-heart',
    //       class: 'btnAdminTack'
    //     },
    //     {
    //       title: this.$t('controlItems.DISTRIBUTE_HOURS'),
    //       link: 'control-distribute-hours',
    //       icon: 'mdi-alarm-check',
    //       class: 'btnAdminCities'
    //     },
    //     {
    //       title: this.$t('controlItems.DAYS_OFF_CONTROL'),
    //       link: 'control-days-off-control',
    //       icon: 'mdi-xbox-controller-battery-charging',
    //       class: 'btnAdminCities'
    //     },
    //     {
    //       title: this.$t('controlItems.TRADE_SHIFT'),
    //       link: 'control-trade-shifts',
    //       icon: 'mdi-account-switch',
    //       class: 'btnAdminUsers'
    //     },
    //     {
    //       title: this.$t('controlItems.SMART_NOTES'),
    //       link: 'control-smart-notes',
    //       icon: 'mdi-music-note',
    //       class: 'btnAdminUsers'
    //     },
    //     {
    //       title: this.$t('adminItems.EXCESS_DEMAND'),
    //       link: 'control-excess-demand',
    //       icon: 'mdi-checkbox-multiple-blank',
    //       class: 'btnAdminShiftConstraints'
    //     },
    //     {
    //       title: this.$t('adminItems.COEFFICIENTS'),
    //       link: 'control-coefficients',
    //       icon: 'mdi-numeric-9-plus-box-multiple-outline',
    //       class: 'btnAdminSiteConstraints'
    //     },
    //     {
    //       title: this.$t('adminItems.DISCREPANCIES'),
    //       link: 'control-discrepancies',
    //       icon: 'mdi-check-all',
    //       class: 'btnAdminSiteConstraints'
    //     }
    //   ]
    // },
    // metricItems() {
    //   return [
    //     {
    //       title: this.$t('metricItems.METRIC_DASH'),
    //       link: 'metric-dash',
    //       icon: 'mdi-book-multiple',
    //       class: 'btnAdminTack'
    //     },
    //     {
    //       title: this.$t('metricItems.METRIC_DAYBOOKS'),
    //       link: 'metric-daybooks',
    //       icon: 'mdi-book-multiple',
    //       class: 'btnAdminTack'
    //     },
    //     {
    //       title: this.$t('metricItems.METRIC_INCIDENTS'),
    //       link: 'metric-incidents',
    //       icon: 'mdi-deathly-hallows',
    //       class: 'btnAdminCities'
    //     },
    //     {
    //       title: this.$t('metricItems.METRIC_CLIENTS'),
    //       link: 'metric-clients',
    //       icon: 'mdi-account-tie',
    //       class: 'btnAdminCities'
    //     },
    //     {
    //       title: this.$t('metricItems.METRIC_TRADE_SHIFT'),
    //       link: 'metric-trade-shifts',
    //       icon: 'mdi-tumblr-reblog',
    //       class: 'btnAdminUsers'
    //     }
    //   ]
    // },
    menuItems() {
      if (this.isTokenSet) {
        return [
          {
            title: this.$t('Home'),
            link: 'home',
            icon: 'mdi-home',
            class: 'btnHome'
          }
          // {
          //   title: this.$t('menuItems.ABOUT'),
          //   link: 'about',
          //   icon: 'mdi-help-circle-outline',
          //   class: 'btnAbout'
          // },
          // {
          //   title: this.$t('menuItems.MY_PROFILE'),
          //   link: 'profile',
          //   icon: 'mdi-face',
          //   class: 'btnProfile'
          // }
        ]
      }
      return [
        {
          title: this.$t('Home'),
          link: 'landing',
          icon: 'mdi-home',
          class: 'btnHome'
        },
        // {
        //   title: this.$t('menuItems.ABOUT'),
        //   link: 'about',
        //   icon: 'mdi-help-circle-outline',
        //   class: 'btnAbout'
        // },
        {
          title: this.$t('menuItems.LOGIN'),
          link: 'login',
          icon: 'mdi-lock',
          class: 'btnLogin'
        }
        // {
        //   title: this.$t('menuItems.SIGNUP'),
        //   link: 'signup',
        //   icon: 'mdi-plus-circle-outline',
        //   class: 'btnLogin'
        // }
      ]
    }
  },
  methods: {
    userLogout() {
      this.$store.dispatch('userLogout')
    }
  },
  watch: {
    isDark() {
      this.$vuetify.theme.dark = this.isDark
      localStorage.setItem('dark', this.isDark)
    }
  },
  created() {
    const dark = localStorage.getItem('dark')
    this.isDark = dark ? JSON.parse(dark) : false
  }
}
</script>

<style>
table.v-table {
  max-width: none;
}
.controls {
  position: relative;
}
</style>
