<template>
  <!-- <div id="app-charts" > -->
  <v-radio-group v-model="radioGroup" color="dark">
    <!-- <v-row type="flex" class="row-bg" justify="center" color = "dark"> -->
    <v-radio v-model="radio" label="metric-dash-bar">Bar</v-radio>
    <v-radio v-model="radio" label="metric-dash-line">Line</v-radio>
    <v-radio v-model="radio" label="metric-dash-pie">Pie</v-radio>
    <v-radio v-model="radio" label="metric-dash-bubble">Bubble</v-radio>
    <!-- </v-row> -->
  </v-radio-group>
  <!-- <router-view></router-view> -->
  <!-- </div> -->
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
      radio: ''
    }
  },
  watch: {
    radio() {
      this.navigateChart(this.radio)
    }
  },
  methods: {
    navigateChart(url) {
      console.log(url)
      this.$router.push(url)
    }
  },
  created() {
    this.radio = 'metric-dash-bar'
    this.navigateChart('metric-dash-bar')
  }
}
</script>

<style>
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
</style>
