<template>
  <v-container fluid>
    <!-- <v-layout class="subtitle-1" row wrap>
      <v-divider class="mx-4" vertical></v-divider>
      <span style="color: yellow;">
        <strong>{{ $t('siteconstraints.TITLE') }}</strong></span
      >
      <Description :description="$t('siteconstraints.DESCRIPTION')" />
    </v-layout> -->
    <v-dialog
      v-model="generateDialog"
      max-width="500px"
      content-class="dlgNewEditItem"
    >
      <template>
        <v-row align="center">
          <v-date-picker
            v-model="datePicker"
            :show-current="true"
            :landscape="true"
            range
          ></v-date-picker>
        </v-row>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red lighten3" text @click="close" class="btnCancel">{{
            $t('dataTable.CANCEL')
          }}</v-btn>
          <v-btn color="yellow lighten3" text @click="save" class="btnSave">{{
            $t('dataTable.SAVE')
          }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <template>
      <v-row class="fill-height">
        <v-col>
          <v-sheet height="64">
            <v-toolbar color="dark">
              <v-btn
                outlined
                class="mr-4"
                color="teal lighten-5"
                @click="setToday"
              >
                {{ $t('layoutType.LAYOUT_TYPE_TODAY') }}
              </v-btn>
              <v-btn fab text small color="teal lighten-5" @click="prev">
                <v-icon small>mdi-chevron-left</v-icon>
              </v-btn>
              <v-btn fab text small color="teal lighten-5" @click="next">
                <v-icon small>mdi-chevron-right</v-icon>
              </v-btn>
              <v-toolbar-title>{{ title }}</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-title>{{
                $t('siteconstraints.TITLE')
              }}</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-spacer></v-spacer>
              <!-- <v-btn
                color="secondary"
                v-on="on"
                class="btnGenerate pr-4"
                @click="generateAssign"
              >
                <v-icon class="mr-2">mdi-select-group</v-icon>
                Générer
              </v-btn> -->
              <v-spacer></v-spacer>
              <!-- <v-btn
                color="secondary"
                v-on="on"
                class="btnGenerate pr-4"
                @click="getDiscrepancies"
              >
                <v-icon class="mr-2">mdi-check-all</v-icon>
                discrepancies
              </v-btn> -->
              <v-spacer></v-spacer>
              <v-menu bottom right>
                <template v-slot:activator="{ on }">
                  <v-btn outlined color="teal lighten-5" v-on="on">
                    <span>{{ typeToLabel[type] }}</span>
                    <v-icon right>mdi-menu-down</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item @click="type = 'day'">
                    <v-list-item-title>{{
                      $t('layoutType.LAYOUT_TYPE_DAY')
                    }}</v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="type = 'week'">
                    <v-list-item-title>{{
                      $t('layoutType.LAYOUT_TYPE_WEEK')
                    }}</v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="type = 'month'">
                    <v-list-item-title>{{
                      $t('layoutType.LAYOUT_TYPE_MONTH')
                    }}</v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="type = '4day'">
                    <v-list-item-title>{{
                      $t('layoutType.LAYOUT_TYPE_4DAYS')
                    }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-toolbar>
          </v-sheet>
          <v-sheet height="600">
            <v-calendar
              ref="calendar"
              v-model="focus"
              color="primary"
              :events="events"
              :event-color="getEventColor"
              :now="today"
              :type="type"
              @click:event="showEvent"
              @click:more="viewDay"
              @click:date="viewDay"
              @change="getEvents"
              :locale="locale"
            ></v-calendar>
            <v-menu
              v-model="selectedOpen"
              :close-on-content-click="false"
              :activator="selectedElement"
              offset-x
            >
              <v-card color="grey lighten-4" min-width="350px" flat>
                <v-toolbar :color="selectedEvent.color">
                  <v-btn @click="editCalendarItem(selectedEvent)" icon>
                    <v-icon>mdi-pencil</v-icon>
                  </v-btn>
                  <v-toolbar-title
                    v-html="selectedEvent.name"
                  ></v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                  <!-- <template>
                      <v-simple-table dense color="selectedEvent.color">
                        <template v-slot:default>
                          <thead>
                            <tr>
                              <th class="text-left">{{ selectedEvent.details }}  &nbsp; &nbsp; {{ selectedEvent.start }} &nbsp; - &nbsp;{{ selectedEvent.end }}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="(item, index) in selectedEvent.agents" :key="index">
                              <td>{{ item.name }}</td>
                            </tr>
                          </tbody>
                        </template>
                      </v-simple-table>
                    </template> -->
                  <v-list nav dense :color="selectedEvent.color">
                    <v-list-item two-line>
                      <v-list-item-content>
                        <v-list-item-title>
                          {{ selectedEvent.start }}
                        </v-list-item-title>

                        <v-list-item-title>
                          {{ selectedEvent.am }}
                        </v-list-item-title>
                        <v-list-item-title>
                          {{ selectedEvent.pm }}
                        </v-list-item-title>
                        <v-list-item-title>
                          {{ selectedEvent.night }}
                        </v-list-item-title>

                        <v-list-item-subtitle>
                          {{ selectedEvent.task }}
                        </v-list-item-subtitle>
                        <v-list-item-subtitle>
                          {{ selectedEvent.equipment }}
                        </v-list-item-subtitle>
                        <v-list-item-subtitle>
                          {{ selectedEvent.obs }}
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                </v-card-text>
                <v-card-actions>
                  <v-btn text color="secondary" @click="selectedOpen = false">
                    Cancel
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-menu>
          </v-sheet>
        </v-col>
      </v-row>
    </template>
    <ErrorMessage />
    <SuccessMessage />
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import { getFormat, buildPayloadPagination } from '@/utils/utils.js'
// import moment from 'moment'
import * as moment from 'moment'
import 'moment/locale/fr'
// import format from 'date-fns/format'
import formatISO from 'date-fns/formatISO'
// import parse from 'date-fns/parse'
import parseISO from 'date-fns/parseISO'
import endOfMonth from 'date-fns/endOfMonth'
import startOfMonth from 'date-fns/startOfMonth'
export default {
  data: () => ({
    focus: '',
    type: 'month',
    typeToLabel: {
      month: 'Mois',
      week: 'Sem.',
      day: 'Jour',
      '4day': '4 Jours'
    },
    start: null,
    end: null,
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    events: [],
    colors: [
      'blue',
      'indigo',
      'deep-purple',
      'cyan',
      'green',
      'yellow',
      'grey darken-1'
    ],
    available: [],
    constraints: [],
    datePicker: [],
    generatePicker: [],
    landscape: false,
    siteconstraintDialog: false,
    locale: 'fr',
    today: '',
    generateDialog: false
  }),
  computed: {
    title() {
      const { start, end } = this
      if (!start || !end) {
        return ''
      }

      const startMonth = this.monthFormatter(start)
      const endMonth = this.monthFormatter(end)
      const suffixMonth = startMonth === endMonth ? '' : endMonth

      const startYear = start.year
      const endYear = end.year
      const suffixYear = startYear === endYear ? '' : endYear

      const startDay = start.day + this.nth(start.day)
      const endDay = end.day + this.nth(end.day)

      switch (this.type) {
        case 'month':
          return `${startMonth} ${startYear}`
        case 'week':
        case '4day':
          return `${startMonth} ${startDay} ${startYear} - ${suffixMonth} ${endDay} ${suffixYear}`
        case 'day':
          return `${startMonth} ${startDay} ${startYear}`
      }
      return ''
    },
    monthFormatter() {
      return this.$refs.calendar.getFormatter({
        timeZone: 'UTC',
        month: 'long'
      })
    },
    siteConstraints() {
      return this.$store.state.adminSiteConstraints.siteConstraints
    },
    totalSiteConstraints() {
      return this.$store.state.adminSiteConstraints.totalSiteConstraints
    }
  },
  methods: {
    ...mapActions([
      'getAllSiteConstraints',
      'getSiteConstraints',
      'saveSiteConstraint'
    ]),
    async openSiteDialog() {
      this.siteconstraintDialog = true
    },
    viewDay({ date }) {
      this.focus = date
      this.type = 'day'
    },
    getEventColor(event) {
      return event.color
    },
    setToday() {
      this.focus = this.today
    },
    prev() {
      this.$refs.calendar.prev()
    },
    next() {
      this.$refs.calendar.next()
    },
    showEvent({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event
        console.log(event)
        this.selectedElement = nativeEvent.target
        setTimeout(() => {
          this.selectedOpen = true
        }, 10)
      }

      if (this.selectedOpen) {
        this.selectedOpen = false
        setTimeout(open, 10)
      } else {
        open()
      }

      nativeEvent.stopPropagation()
    },
    close() {
      this.generateDialog = false
      setTimeout(() => {
        this.generatePicker = Object.assign({}, this.defaultItem)
      }, 300)
    },
    async save() {
      try {
        const dateStart = this.generatePicker[0]
        const dateEnd = this.generatePicker[1]
        const payload = {
          dateStart,
          dateEnd
        }
        await this.saveSchedule(payload)
        this.close()
      } catch (error) {
        this.close()
      }
    },
    async getEvents({ start, end }) {
      try {
        const dateStart = formatISO(
          startOfMonth(
            parseISO(new Date(start.date).toISOString().slice(0, 10))
          ),
          { representation: 'date' }
        )
        const dateEnd = formatISO(
          endOfMonth(parseISO(new Date(end.date).toISOString().slice(0, 10))),
          { representation: 'date' }
        )
        this.events = []
        await this.getSiteConstraints({ dateStart, dateEnd })

        const snapshot = { ...this.siteConstraints }
        // console.log(snapshot)
        for (const item of this.siteConstraints) {
          // debugger
          this.events.push({
            name: item.requestSite,
            task: item.requestTask,
            equipment: item.requestEquipment,
            obs: item.requestObs,
            am: `Matin:  ${item.requestAm}`,
            pm: `Apres midi:  ${item.requestPm}`,
            night: `Soirée:  ${item.requestNight}`,
            color: this.colors[this.rnd(0, this.colors.length - 1)],
            open: false,
            start: this.formatDate(new Date(item.requestDate), false)
          })
        }
        this.start = start
        this.end = end
      } catch (error) {
        console.log(error)
      }
    },
    nth(d) {
      return d > 3 && d < 21
        ? 'th'
        : ['th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th'][d % 10]
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a
    },
    formatDate(a, withTime) {
      return withTime
        ? `${a.getFullYear()}-${
            a.getMonth() + 1
          }-${a.getDate()} ${a.getHours()}:${a.getMinutes()}`
        : `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()}`
    }
  },
  async mounted() {
    // const dateStart = formatISO(
    //   startOfMonth(
    //     parseISO(new Date(this.today).toISOString().slice(0, 10))
    //   ),
    //   { representation: 'date' }
    // )
    // const dateEnd = formatISO(
    //   endOfMonth(parseISO(new Date(this.today).toISOString().slice(0, 10))),
    //   { representation: 'date' }
    // )
    // const snapshot = await this.getAgentConstraints({ dateStart, dateEnd })
    // console.log(snapshot)
    this.$refs.calendar.checkChange()
    // await this.getConstraints()
  }
}
</script>
