<template>
  <v-container fluid>
    <!-- <v-layout row wrap>
      <v-divider class="mx-4" vertical></v-divider>
      <strong style="color: #dcedc8;">{{
        $t('agentconstraints.TITLE')
      }}</strong>
    </v-layout> -->
    <template>
      <v-sheet height="64">
        <v-toolbar color="dark">
          <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
            {{ $t('layoutType.LAYOUT_TYPE_TODAY') }}
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="prev">
            <v-icon small>mdi-chevron-left</v-icon>
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="next">
            <v-icon small>mdi-chevron-right</v-icon>
          </v-btn>
          <v-toolbar-title>{{ title }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-title>{{ $t('agentconstraints.TITLE') }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-menu bottom right>
            <template v-slot:activator="{ on }">
              <v-btn outlined color="grey darken-2" v-on="on">
                <span>{{ typeToLabel[type] }}</span>
                <v-icon right>mdi-menu-down</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="type = 'day'">
                <v-list-item-title>{{
                  $t('layoutType.LAYOUT_TYPE_DAY')
                }}</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'week'">
                <v-list-item-title>{{
                  $t('layoutType.LAYOUT_TYPE_WEEK')
                }}</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'month'">
                <v-list-item-title>{{
                  $t('layoutType.LAYOUT_TYPE_MONTH')
                }}</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = '4day'">
                <v-list-item-title>{{
                  $t('layoutType.LAYOUT_TYPE_4DAYS')
                }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-toolbar>
      </v-sheet>
      <v-sheet height="600">
        <v-calendar
          ref="calendar"
          v-model="focus"
          :events="events"
          :event-color="getEventColor"
          :now="today"
          :type="type"
          @click:event="showEvent"
          @click:more="viewDay"
          @click:date="viewDay"
          @change="getEvents"
          :locale="locale"
        ></v-calendar>
        <v-menu
          v-model="selectedOpen"
          :close-on-content-click="false"
          :activator="selectedElement"
          offset-x
        >
          <v-card color="grey lighten-4" min-width="350px" flat>
            <v-toolbar :color="selectedEvent.color" dark>
              <v-btn icon>
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
              <v-list nav dense :color="selectedEvent.color">
                <v-list-item
                  v-for="(item, index) in selectedEvent.agents"
                  :key="index"
                >
                  <v-list-item-content>
                    <v-list-item-title>{{ item }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card-text>
            <v-card-actions>
              <v-btn text color="secondary" @click="selectedOpen = false">
                Cancel
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
      </v-sheet>
    </template>
    <ErrorMessage />
    <SuccessMessage />
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import { getFormat, buildPayloadPagination } from '@/utils/utils.js'
// import Discrepancies from './AdminDiscrepancies'
import * as moment from 'moment'
import 'moment/locale/fr'
// import format from 'date-fns/format'
import formatISO from 'date-fns/formatISO'
// import parse from 'date-fns/parse'
import parseISO from 'date-fns/parseISO'
import endOfMonth from 'date-fns/endOfMonth'
import startOfMonth from 'date-fns/startOfMonth'
export default {
  data: () => ({
    focus: '',
    type: 'month',
    typeToLabel: {
      month: 'Mois',
      week: 'Sem.',
      day: 'Jour',
      '4day': '4 Jours'
    },
    start: null,
    end: null,
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    events: [],
    colors: [
      'blue',
      'indigo',
      'deep-purple',
      'cyan',
      'green',
      'yellow',
      'grey darken-1'
    ],
    names: [
      'Meeting',
      'Holiday',
      'PTO',
      'Travel',
      'Event',
      'Birthday',
      'Conference',
      'Party'
    ],
    available: [],
    constraints: [],
    datePicker: [],
    landscape: false,
    generateDialog: false,
    locale: 'fr',
    defaultItem: {},
    editedItem: {},
    today: ''
  }),
  computed: {
    title() {
      const { start, end } = this
      if (!start || !end) {
        return ''
      }

      const startMonth = this.monthFormatter(start)
      const endMonth = this.monthFormatter(end)
      const suffixMonth = startMonth === endMonth ? '' : endMonth

      const startYear = start.year
      const endYear = end.year
      const suffixYear = startYear === endYear ? '' : endYear

      const startDay = start.day + this.nth(start.day)
      const endDay = end.day + this.nth(end.day)

      switch (this.type) {
        case 'month':
          return `${startMonth} ${startYear}`
        case 'week':
        case '4day':
          return `${startMonth} ${startDay} ${startYear} - ${suffixMonth} ${endDay} ${suffixYear}`
        case 'day':
          return `${startMonth} ${startDay} ${startYear}`
      }
      return ''
    },
    monthFormatter() {
      return this.$refs.calendar.getFormatter({
        timeZone: 'UTC',
        month: 'long'
      })
    },
    formTitle() {
      return this.editedItem._id
        ? this.$t('dataTable.EDIT_ITEM')
        : this.$t('dataTable.NEW_ITEM')
    },
    shiftConstraints() {
      return this.$store.state.adminShiftConstraints.shiftConstraints
    },
    totalShiftConstraints() {
      return this.$store.state.adminShiftConstraints.totalShiftConstraints
    }
  },
  component: {
    // Discrepancies
  },
  methods: {
    ...mapActions([
      'getAllShiftConstraints',
      'getShiftConstraints',
      'saveSchedule'
    ]),
    // async generateAssign() {
    //   this.generateDialog = true
    // },
    // getDiscrepancies() {
    //   this.showDiscrepancies = true
    //   console.log('something')
    // },
    viewDay({ date }) {
      this.focus = date
      this.type = 'day'
    },
    getEventColor(event) {
      return event.color
    },
    setToday() {
      this.focus = this.today
    },
    prev() {
      this.$refs.calendar.prev()
    },
    next() {
      this.$refs.calendar.next()
    },
    showEvent({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event
        this.selectedElement = nativeEvent.target
        setTimeout(() => {
          this.selectedOpen = true
        }, 10)
      }

      if (this.selectedOpen) {
        this.selectedOpen = false
        setTimeout(open, 10)
      } else {
        open()
      }

      nativeEvent.stopPropagation()
    },
    async getEvents({ start, end }) {
      try {
        const dateStart = formatISO(
          startOfMonth(
            parseISO(new Date(start.date).toISOString().slice(0, 10))
          ),
          { representation: 'date' }
        )
        const dateEnd = formatISO(
          endOfMonth(parseISO(new Date(end.date).toISOString().slice(0, 10))),
          { representation: 'date' }
        )
        this.events = []
        await this.getShiftConstraints({ dateStart, dateEnd })
        for (const item of this.shiftConstraints) {
          // console.log(item)
          let shiftOff = ''
          let color = ''
          switch (item.shiftOff) {
            case 'E':
              shiftOff = this.$i18n.t('shifttype.EARLY')
              color = 0
              break
            case 'D':
              shiftOff = this.$i18n.t('shifttype.DAY')
              color = 1
              break
            case 'L':
              shiftOff = this.$i18n.t('shifttype.LATE')
              color = 2
              break
            case 'N':
              shiftOff = this.$i18n.t('shifttype.NIGHT')
              color = 6
              break
            default:
            // console.log('Sorry, we are out of shiftoff.')
          }
          // if(item.agents.length > 0){
          this.events.push({
            name: shiftOff,
            start: this.formatDate(new Date(item.shiftDate), false),
            agents: item.agents,
            color: this.colors[color],
            open: false
          })
          // }
          // }
        }
        this.start = start
        this.end = end
      } catch (error) {
        console.log(error)
      }
    },
    nth(d) {
      return d > 3 && d < 21
        ? 'th'
        : ['th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th'][d % 10]
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a
    },
    formatDate(a, withTime) {
      return withTime
        ? `${a.getFullYear()}-${
            a.getMonth() + 1
          }-${a.getDate()} ${a.getHours()}:${a.getMinutes()}`
        : `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()}`
    },
    close() {
      this.generateDialog = false
      setTimeout(() => {
        this.datePicker = Object.assign({}, this.defaultItem)
      }, 300)
    },
    async save() {
      try {
        const dateStart = this.datePicker[0]
        const dateEnd = this.datePicker[1]
        const payload = {
          dateStart,
          dateEnd
        }
        await this.saveSchedule(payload)
        this.close()
      } catch (error) {
        this.close()
      }
    },
    on() {}
  },
  async mounted() {
    // const dateStart = formatISO(
    //   startOfMonth(
    //     parseISO(new Date(this.today).toISOString().slice(0, 10))
    //   ),
    //   { representation: 'date' }
    // )
    // const dateEnd = formatISO(
    //   endOfMonth(parseISO(new Date(this.today).toISOString().slice(0, 10))),
    //   { representation: 'date' }
    // )
    // const snapshot = await this.getShiftConstraints({ dateStart, dateEnd })
    // console.log(snapshot)
    this.$refs.calendar.checkChange()
    // await this.getConstraints()
  }
}
</script>
