<template>
  <!-- <v-app dark> -->
  <div>
    <v-flex xs12 sm6 md4 text-xs-right mb-2 mt-2 pr-2>
      <v-dialog
        v-model="requestDialog"
        max-width="900px"
        content-class="dlgNewEditItem"
      >
        <!-- <v-row>
            <v-col> -->
        <template v-slot:activator="{ on }">
          <v-btn color="secondary" v-on="on" class="btnNewItem pr-4">
            <v-icon class="mr-2">mdi-plus</v-icon>
            {{ $t('dataTable.NEW_ITEM') }}
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 md6>
                  <v-col>
                    <v-text-field
                      v-model="requestSite"
                      :label="$t('assignments.headers.ASSIGN_SITE')"
                    ></v-text-field>
                  </v-col>
                  <!-- <v-autocomplete
                    v-model="requestSite"
                    :items="allSites"
                    dense
                    filled
                    :label="$t('assignments.headers.ASSIGN_SITE')"
                  >
                  </v-autocomplete> -->
                </v-flex>
                <v-flex xs12 md6>
                  <v-autocomplete
                    v-model="requestTask"
                    :items="allTasks"
                    dense
                    filled
                    :label="$t('assignments.headers.ASSIGN_TASK')"
                  >
                    <!-- HTML that describe how select should render selected items -->
                    <!-- <template v-slot:selection="data">
                        {{ data.item.name }}
                      </template> -->
                    <!-- HTML that describe how select should render items when the select is open -->
                    <!--    <template v-slot:item="data">
                        {{ data.item.name }}
                      </template> -->
                  </v-autocomplete>
                </v-flex>
                <v-flex xs12 md6>
                  <v-autocomplete
                    v-model="requestEquipment"
                    :items="allEquipments"
                    dense
                    filled
                    :label="$t('assignments.headers.ASSIGN_EQUIPMENT')"
                  ></v-autocomplete>
                </v-flex>
                <v-row justify="space-around" align="center">
                  <v-menu
                    ref="requestDateMenu"
                    :close-on-content-click="false"
                    v-model="requestDateMenu"
                    transition="scale-transition"
                    offset-y
                    :nudge-right="40"
                    max-width="500px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="requestDates"
                        label="Request date"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="requestDates" multiple>
                      <v-spacer></v-spacer>
                      <v-btn
                        text
                        color="primary"
                        @click="requestDateMenu = false"
                        >Cancel
                      </v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs.requestDateMenu.save(requestDates)"
                        >OK
                      </v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-row>
                <v-row>
                  <v-col cols="12" sm="6" md="3">
                    <v-text-field
                      v-model="requestAm"
                      color="yellow darken-2"
                      label="Shift Matin"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="3">
                    <v-text-field
                      v-model="requestPm"
                      color="brown darken-2"
                      label="Shift Aprés midi"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="3">
                    <v-text-field
                      v-model="requestNight"
                      color="purple darken-2"
                      label="Shift nuit"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-flex xs12>
                  <v-text-field
                    id="requestObs"
                    name="requestObs"
                    v-model="requestObs"
                    :label="$t('assignments.headers.ASSIGN_OBS')"
                    :data-vv-as="$t('assignments.headers.ASSIGN_OBS')"
                    :error-messages="errorMessages"
                    v-validate.disable=""
                    autocomplete="off"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="red lighten3" text @click="close" class="btnCancel">{{
              $t('dataTable.CANCEL')
            }}</v-btn>
            <v-btn color="yellow lighten3" text @click="save" class="btnSave">{{
              $t('dataTable.SAVE')
            }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-flex>
    <!-- </v-layout> -->
    <template>
      <v-sheet height="64">
        <v-toolbar flat color="dark">
          <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
            {{ $t('layoutType.LAYOUT_TYPE_TODAY') }}
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="prev">
            <v-icon small>mdi-chevron-left</v-icon>
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="next">
            <v-icon small>mdi-chevron-right</v-icon>
          </v-btn>
          <!-- <spacer></spacer>
            <v-btn outlined class="mr-4" color="grey darken-2" @click="$emit('')">
              <v-icon small>mdi-select-group</v-icon>
              Générer
            </v-btn> -->
          <v-toolbar-title>{{ title }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-title>{{ $t('clientrequests.TITLE') }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-menu bottom right>
            <template v-slot:activator="{ on }">
              <v-btn outlined color="grey darken-2" v-on="on">
                <span>{{ typeToLabel[type] }}</span>
                <v-icon right>mdi-menu-down</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="type = 'day'">
                <v-list-item-title>{{
                  $t('layoutType.LAYOUT_TYPE_DAY')
                }}</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'week'">
                <v-list-item-title>{{
                  $t('layoutType.LAYOUT_TYPE_WEEK')
                }}</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'month'">
                <v-list-item-title>{{
                  $t('layoutType.LAYOUT_TYPE_MONTH')
                }}</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = '4day'">
                <v-list-item-title>{{
                  $t('layoutType.LAYOUT_TYPE_4DAYS')
                }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-toolbar>
      </v-sheet>
      <v-sheet height="600">
        <v-calendar
          ref="calendar"
          v-model="value"
          :weekdays="weekday"
          :type="type"
          :events="events"
          @click:event="showEvent"
          @click:more="viewDay"
          @click:date="viewDay"
          @click:day="(event) => dateClick(event, true)"
          :event-overlap-mode="mode"
          :event-overlap-threshold="30"
          :event-color="getEventColor"
          @change="getEvents"
          :locale="locale"
        >
          <!-- <template v-slot:day="{ date }">
              <template v-for="event in eventsMap[date]">
                <v-menu
                  :key="event.title"
                  v-model="event.open"
                  full-width
                  offset-x
                >
                  <template v-slot:activator="{ on }">
                    <div
                      v-if="!event.time"
                      v-ripple
                      class="my-event"
                      v-on="on"
                      v-html="event.title"
                    ></div>
                  </template>
                  <v-card
                    color="grey lighten-4"
                    min-width="350px"
                    flat
                  >
                    <v-toolbar
                      color="primary"
                      dark
                    >
                      <v-btn icon>
                        <v-icon>edit</v-icon>
                      </v-btn>
                      <v-toolbar-title v-html="event.title"></v-toolbar-title>
                      <v-spacer></v-spacer>
                      <v-btn icon>
                        <v-icon>favorite</v-icon>
                      </v-btn>
                      <v-btn icon>
                        <v-icon>more_vert</v-icon>
                      </v-btn>
                    </v-toolbar>
                    <v-card-title primary-title>
                      <span v-html="event.details"></span>
                    </v-card-title>
                    <v-card-actions>
                      <v-btn
                        flat
                        color="secondary"
                      >
                        Cancel
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-menu>
              </template>
            </template> -->
        </v-calendar>
        <v-menu
          v-model="selectedOpen"
          :close-on-content-click="false"
          :activator="selectedElement"
          offset-x
        >
          <v-card color="grey lighten-4" min-width="350px" flat>
            <v-toolbar :color="selectedEvent.color">
              <v-btn @click="editCalendarItem(selectedEvent)" icon>
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
              <v-list nav dense :color="selectedEvent.color">
                <v-list-item two-line>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ selectedEvent.start }}
                    </v-list-item-title>
                    <v-list-item-title>
                      {{ selectedEvent.am }}
                    </v-list-item-title>
                    <v-list-item-title>
                      {{ selectedEvent.pm }}
                    </v-list-item-title>
                    <v-list-item-title>
                      {{ selectedEvent.night }}
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      {{ selectedEvent.tasks }}
                    </v-list-item-subtitle>
                    <v-list-item-subtitle>
                      {{ selectedEvent.equipments }}
                    </v-list-item-subtitle>
                    <v-list-item-subtitle>
                      {{ selectedEvent.obs }}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card-text>
            <v-card-actions>
              <v-btn text color="secondary" @click="selectedOpen = false">
                Cancel
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
      </v-sheet>
    </template>
    <ErrorMessage />
    <SuccessMessage />
  </div>
  <!-- </v-app> -->
</template>

<script>
import { mapActions } from 'vuex'
import { getFormat, buildPayloadPagination } from '@/utils/utils.js'
// import moment from 'moment'
import * as moment from 'moment'
import 'moment/locale/fr'
// import format from 'date-fns/format'
import formatISO from 'date-fns/formatISO'
// import parse from 'date-fns/parse'
import parseISO from 'date-fns/parseISO'
import endOfMonth from 'date-fns/endOfMonth'
import startOfMonth from 'date-fns/startOfMonth'
export default {
  data: () => ({
    focus: '',
    type: 'month',
    typeToLabel: {
      month: 'Mois',
      week: 'Sem.',
      day: 'Jour',
      '4day': '4 Jours'
    },
    start: null,
    end: null,
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    events: [],
    colors: [
      'blue',
      'indigo',
      'deep-purple',
      'cyan',
      'green',
      'yellow',
      'grey darken-1'
    ],
    available: [],
    constraints: [],
    datePicker: [],
    generatePicker: [],
    landscape: false,
    siteconstraintDialog: false,
    locale: 'fr',
    today: '',
    generateDialog: false,
    requestAm: '',
    requestPm: '',
    requestNight: '',
    editedItem: {},
    requestDateMenu: false,
    startTimeMenu: false,
    endTimeMenu: false,
    requestDates: [],
    requestStartTime: '',
    requestEndTime: '',
    requestTask: '',
    requestSite: '',
    requestEquipment: ''
  }),
  computed: {
    title() {
      const { start, end } = this
      if (!start || !end) {
        return ''
      }

      const startMonth = this.monthFormatter(start)
      const endMonth = this.monthFormatter(end)
      const suffixMonth = startMonth === endMonth ? '' : endMonth

      const startYear = start.year
      const endYear = end.year
      const suffixYear = startYear === endYear ? '' : endYear

      const startDay = start.day + this.nth(start.day)
      const endDay = end.day + this.nth(end.day)

      switch (this.type) {
        case 'month':
          return `${startMonth} ${startYear}`
        case 'week':
        case '4day':
          return `${startMonth} ${startDay} ${startYear} - ${suffixMonth} ${endDay} ${suffixYear}`
        case 'day':
          return `${startMonth} ${startDay} ${startYear}`
      }
      return ''
    },
    monthFormatter() {
      return this.$refs.calendar.getFormatter({
        timeZone: 'UTC',
        month: 'long'
      })
    },
    siteConstraints() {
      return this.$store.state.adminSiteConstraints.siteConstraints
    },
    totalSiteConstraints() {
      return this.$store.state.adminSiteConstraints.totalSiteConstraints
    },
    allTasks() {
      return this.populateTasks(this.$store.state.tasks.allTasks)
    },
    allEquipments() {
      // return this.$store.state.equipment.allEquipments
      return this.populateEquips(this.$store.state.equipment.allEquipments)
    }
  },
  methods: {
    ...mapActions([
      'getAllSiteConstraints',
      'getSiteConstraints',
      'saveSiteConstraint',
      'editSiteConstraint',
      'deleteSiteConstraint',
      'getAllTasks',
      'getAllEquipments'
    ]),
    async openSiteDialog() {
      this.siteconstraintDialog = true
    },
    viewDay({ date }) {
      this.focus = date
      this.type = 'day'
    },
    getEventColor(event) {
      return event.color
    },
    setToday() {
      this.focus = this.today
    },
    prev() {
      this.$refs.calendar.prev()
    },
    next() {
      this.$refs.calendar.next()
    },
    showEvent({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event
        this.selectedElement = nativeEvent.target
        setTimeout(() => {
          this.selectedOpen = true
        }, 10)
      }

      if (this.selectedOpen) {
        this.selectedOpen = false
        setTimeout(open, 10)
      } else {
        open()
      }

      nativeEvent.stopPropagation()
    },
    close() {
      this.requestDialog = false
      // setTimeout(() => {
      //   this. = Object.request({}, this.defaultItem)
      // }, 300)
    },
    populateTasks(taskArray) {
      this.tasks = taskArray.reduce(
        (accumulator, currentValue, index, array) => {
          accumulator.push({
            text: `${currentValue.taskName}`,
            value: `${currentValue._id}`
          })
          return accumulator
        },
        []
      )
      // console.log(this.tasks)
      return this.tasks
    },
    populateEquips(equipArray) {
      this.equipments = equipArray.reduce(
        (accumulator, currentValue, index, array) => {
          accumulator.push({
            text: `${currentValue.equipmentName}`,
            value: `${currentValue._id}`
          })
          return accumulator
        },
        []
      )
      // console.log(this.equipments)
      return this.equipments
    },

    async save() {
      try {
        const payload = {
          requestSite: this.requestSite,
          requestTask: this.requestTask,
          requestDates: [...this.requestDates],
          requestObs: this.requestObs,
          requestEquipment: this.requestEquipment,
          requestAm: this.requestAm,
          requestPm: this.requestPm,
          requestNight: this.requestNight
        }
        await this.saveSiteConstraint(payload)
        this.close()
      } catch (error) {
        this.close()
      }
    },
    async getEvents({ start, end }) {
      try {
        const dateStart = formatISO(
          startOfMonth(
            parseISO(new Date(start.date).toISOString().slice(0, 10))
          ),
          { representation: 'date' }
        )
        const dateEnd = formatISO(
          endOfMonth(parseISO(new Date(end.date).toISOString().slice(0, 10))),
          { representation: 'date' }
        )
        this.events = []
        await this.getSiteConstraints({ dateStart, dateEnd })
        // const snapshot =  {...this.siteConstraints}
        // debugger
        // console.log(this.siteConstraints)
        for (const item of this.siteConstraints) {
          const requestDate = moment(item.requestDate).format('YYYY-MM-DD')
          this.events.push({
            name: item.requestSite,
            start: requestDate,
            am: `Matin:  ${item.requestAm}`,
            pm: `Apres midi:  ${item.requestPm}`,
            night: `Soirée:  ${item.requestNight}`,
            tasks: `Task:  ${item.requestTask}`,
            equipments: `Equipment:  ${item.requestEquipment}`,
            obs: `Observations:  ${item.requestObs}`,
            color: `primary`,
            open: false
          })
        }
        this.start = start
        this.end = end
      } catch (error) {
        console.log(error)
      }
    },
    nth(d) {
      return d > 3 && d < 21
        ? 'th'
        : ['th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th'][d % 10]
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a
    },
    formatDate(a, withTime) {
      return withTime
        ? `${a.getFullYear()}-${
            a.getMonth() + 1
          }-${a.getDate()} ${a.getHours()}:${a.getMinutes()}`
        : `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()}`
    }
  },
  async mounted() {
    // const dateStart = formatISO(
    //   startOfMonth(
    //     parseISO(new Date(this.today).toISOString().slice(0, 10))
    //   ),
    //   { representation: 'date' }
    // )
    // const dateEnd = formatISO(
    //   endOfMonth(parseISO(new Date(this.today).toISOString().slice(0, 10))),
    //   { representation: 'date' }
    // )
    // const snapshot = await this.getAgentConstraints({ dateStart, dateEnd })
    // console.log(snapshot)
    await this.getAllTasks()
    await this.getAllEquipments()
    this.$refs.calendar.checkChange()
    // await this.getConstraints()
  }
}
</script>

<style>
table.v-table {
  max-width: none;
}
.controls {
  position: relative;
}
</style>
