<template>
  <div>
    <v-layout wrap>
      <v-flex xs12 sm12 md4 mt-3 pl-4>
        <v-toolbar-title>{{ $t('discrepancies.TITLE') }}</v-toolbar-title>
      </v-flex>
      <v-flex xs12 sm6 md4 px-3>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          :label="$t('dataTable.SEARCH')"
          single-line
          hide-details
          clearable
          clear-icon="mdi-close"
        ></v-text-field>
      </v-flex>
      <!-- <v-flex xs12 sm6 md4 text-xs-right mb-2 mt-2 pr-2>
        <v-dialog
          v-model="dialog"
          max-width="500px"
          content-class="dlgNewEditItem"
        >
          <template v-slot:activator="{ on }">
            <v-btn color="secondary" v-on="on" class="btnNewItem pr-4">
              <v-icon class="mr-2">mdi-plus</v-icon>
              {{ $t('dataTable.NEW_ITEM') }}
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <template v-if="editedItem._id">
                    <v-flex xs12 md6>
                      <label for="createdAt">{{ $t('common.CREATED') }}</label>
                      <div name="createdAt">
                        {{ getFormat(editedItem.createdAt) }}
                      </div>
                    </v-flex>
                    <v-flex xs12 md6>
                      <label for="updatedAt">{{ $t('common.UPDATED') }}</label>
                      <div name="updatedAt">
                        {{ getFormat(editedItem.updatedAt) }}
                      </div>
                    </v-flex>
                  </template>
                  <v-flex xs12>
                    <v-text-field
                      id="name"
                      name="name"
                      v-model="editedItem.name"
                      :label="$t('cities.headers.NAME')"
                      :data-vv-as="$t('cities.headers.NAME')"
                      :rules="[() => !!name || 'This field is required']"
                      :error-messages="errorMessages"
                      v-validate.disable="'required'"
                      autocomplete="off"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="red lighten3"
                text
                @click="close"
                class="btnCancel"
                >{{ $t('dataTable.CANCEL') }}</v-btn
              >
              <v-btn
                color="yellow lighten3"
                text
                @click="save"
                class="btnSave"
                >{{ $t('dataTable.SAVE') }}</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-flex> -->
      <v-dialog v-model="scheduledlg" max-width="280px">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark class="mb-2" v-on="on">{{
            $t('agentSchedule.headers.AGENT_SCHEDULE_PERIOD')
          }}</v-btn>
        </template>
        <template>
          <v-row>
            <v-date-picker v-model="scheduleDates" range>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="scheduledlg = false">
                Cancel
              </v-btn>
              <v-btn text color="primary" @click="getSchedule(scheduleDates)">
                OK
              </v-btn>
            </v-date-picker>
          </v-row>
        </template>
      </v-dialog>
    </v-layout>
    <v-data-table
      :headers="headers"
      :items="items"
      :page.sync="page"
      :items-per-page="itemsPerPage"
      hide-default-footer
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      item-key="name"
      :search="search"
      :server-items-length="totalItems"
      class="elevation-1"
      @page-count="pageCount = $event"
      @pagination="doSomething"
    >
      <template v-slot:item._id="props">
        <v-layout class="justify-center">
          <v-tooltip top>
            <template #activator="on">
              <v-btn v-on="on" @click="editItem(props.item)" icon class="mx-0">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </template>
            <span>{{ $t('dataTable.EDIT') }}</span>
          </v-tooltip>
          <v-tooltip top>
            <template #activator="on">
              <v-btn
                icon
                color="yellow darken-1"
                class="mx-0"
                v-on="on"
                @click="deleteItem($event, props.item)"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </template>
            <span>{{ $t('dataTable.DELETE') }}</span>
          </v-tooltip>
        </v-layout>
      </template>
      <template v-slot:no-data>{{ $t('dataTable.NO_DATA') }}</template>
      <template v-slot:no-results>{{ $t('dataTable.NO_RESULTS') }}</template>
    </v-data-table>
    <ErrorMessage />
    <SuccessMessage />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { getFormat, buildPayloadPagination } from '@/utils/utils.js'

export default {
  name: 'penalties',
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('discrepancies.TITLE')} - %s`
    }
  },
  data() {
    return {
      dataTableLoading: true,
      delayTimer: null,
      dialog: false,
      search: '',
      scheduledlg: false,
      scheduleDates: [],
      pagination: {},
      editedItem: {},
      defaultItem: {},
      fieldsToSearch: ['name'],
      saving: false,
      saved: false,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      sortBy: 'username',
      sortDesc: false,
      errorMessages: []
    }
  },
  computed: {
    formTitle() {
      return this.editedItem._id
        ? this.$t('dataTable.EDIT_ITEM')
        : this.$t('dataTable.NEW_ITEM')
    },
    headers() {
      return [
        // {
        //   text: this.$i18n.t('dataTable.ACTIONS'),
        //   value: '_id',
        //   sortable: false,
        //   width: 100
        // },
        {
          text: this.$i18n.t('discrepancies.headers.SITE'),
          align: 'left',
          sortable: true,
          value: 'siteName'
        },
        {
          text: this.$i18n.t('discrepancies.headers.START_SCHEDULE'),
          align: 'left',
          sortable: true,
          value: 'startSchedule'
        },
        {
          text: this.$i18n.t('discrepancies.headers.SHIFT_SYMBOL'),
          align: 'left',
          sortable: true,
          value: 'shift'
        },
        {
          text: this.$i18n.t('discrepancies.headers.AGENT'),
          align: 'left',
          sortable: true,
          value: 'agent'
        },
        {
          text: this.$i18n.t('discrepancies.headers.TYPE'),
          align: 'left',
          sortable: true,
          value: 'type'
        },
        {
          text: this.$i18n.t('discrepancies.headers.DATE'),
          align: 'left',
          sortable: true,
          value: 'startDate'
        },
        {
          text: this.$i18n.t('discrepancies.headers.LENGTH'),
          align: 'left',
          sortable: true,
          value: 'length'
        },
        {
          text: this.$i18n.t('discrepancies.headers.LEVEL'),
          align: 'left',
          sortable: true,
          value: 'level'
        },
        {
          text: this.$i18n.t('discrepancies.headers.STATUS'),
          align: 'left',
          sortable: true,
          value: 'status'
        },
        {
          text: this.$i18n.t('discrepancies.headers.PENALTY'),
          align: 'left',
          sortable: true,
          value: 'penalty'
        }
      ]
    },
    items() {
      console.log(this.$store.state.adminPenalties.penalties)
      return this.$store.state.adminPenalties.penalties
    },
    totalItems() {
      return this.$store.state.adminPenalties.totalPenalties
    }
  },
  watch: {
    dialog(value) {
      return value ? true : this.close()
    },
    pagination: {
      async handler() {
        try {
          this.dataTableLoading = true
          await this.getSchedules(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
          // eslint-disable-next-line no-unused-vars
        } catch (error) {
          this.dataTableLoading = false
        }
      },
      deep: true
    },
    async search() {
      clearTimeout(this.delayTimer)
      this.delayTimer = setTimeout(() => {
        this.doSearch()
      }, 400)
    }
  },
  methods: {
    ...mapActions(['getPenalties']),
    getFormat(date) {
      window.__localeId__ = this.$store.getters.locale
      return getFormat(date, 'iii, MMMM d yyyy, h:mm a')
    },
    doSomething(v) {
      // console.log('pagination', v)
      this.pagination = v
    },
    async doSearch() {
      try {
        this.dataTableLoading = true
        await this.getSchedules(
          buildPayloadPagination(this.pagination, this.buildSearch())
        )
        this.dataTableLoading = false
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    buildSearch() {
      return this.search
        ? { query: this.search, fields: this.fieldsToSearch.join(',') }
        : {}
    },
    editItem(item) {
      // this.editedItem = Object.assign({}, item)
      // this.dialog = true
    },
    async deleteItem(item) {
      // try {
      //   const response = await this.$confirm(
      //     this.$t('common.DO_YOU_REALLY_WANT_TO_DELETE_THIS_ITEM'),
      //     {
      //       title: this.$t('common.WARNING'),
      //       buttonTrueText: this.$t('common.DELETE'),
      //       buttonFalseText: this.$t('common.CANCEL'),
      //       buttonTrueColor: 'red lighten3',
      //       buttonFalseColor: 'yellow lighten3'
      //     }
      //   )
      //   if (response) {
      //     this.dataTableLoading = true
      //     // await this.deleteCity(item._id)
      //     await this.getSchedules(
      //       buildPayloadPagination(this.pagination, this.buildSearch())
      //     )
      //     this.dataTableLoading = false
      //   }
      //   // eslint-disable-next-line no-unused-vars
      // } catch (error) {
      //   this.dataTableLoading = false
      // }
    },
    close() {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
      }, 300)
    },
    async save() {
      // try {
      //   const valid = await this.$validator.validateAll()
      //   if (valid) {
      //     this.dataTableLoading = true
      //     // Updating item
      //     if (this.editedItem._id) {
      //       // await this.editCity(this.editedItem)
      //       await this.getSchedules(
      //         buildPayloadPagination(this.pagination, this.buildSearch())
      //       )
      //       this.dataTableLoading = false
      //     } else {
      //       // Creating new item
      //       // await this.saveCity({ name: this.editedItem.name })
      //       await this.getSchedules(
      //         buildPayloadPagination(this.pagination, this.buildSearch())
      //       )
      //       this.dataTableLoading = false
      //     }
      //     this.close()
      //   }
      //   // eslint-disable-next-line no-unused-vars
      // } catch (error) {
      //   this.dataTableLoading = false
      //   this.close()
      // }
    },
    async openschedulegents() {
      // console.log(snapshot)
      this.scheduledlg = true
    },
    async getSchedule(dates) {
      try {
        if (dates[0] && dates[1]) {
          const snapshot = await this.getPenalties({
            dateStart: dates[0],
            dateEnd: dates[1]
          })
          // console.log(snapshot)
        }
        this.scheduledlg = false
      } catch (error) {
        console.log(error)
      }
    }
  },
  async mounted() {
    await this.getPenalties()
  }
}
</script>

<style>
table.v-table {
  max-width: none;
}
tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.06) !important;
}
</style>
