<template>
  <div>
    <v-layout wrap>
      <v-flex xs12 sm12 md4 mt-3 pl-4>
        <v-toolbar-title>{{ $t('agentSchedule.TITLE') }}</v-toolbar-title>
      </v-flex>
      <v-flex xs12 sm6 md4 px-3>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          :label="$t('dataTable.SEARCH')"
          single-line
          hide-details
          clearable
          clear-icon="mdi-close"
        ></v-text-field>
      </v-flex>
      <v-dialog v-model="scheduledlg" max-width="280px">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark class="mb-2" v-on="on">{{
            $t('agentSchedule.headers.AGENT_SCHEDULE_PERIOD')
          }}</v-btn>
        </template>
        <template>
          <v-row>
            <v-date-picker v-model="scheduleDates" range>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="scheduledlg = false">
                Cancel
              </v-btn>
              <v-btn text color="primary" @click="getSchedule(scheduleDates)">
                OK
              </v-btn>
            </v-date-picker>
          </v-row>
        </template>
      </v-dialog>
      <v-dialog v-model="detailDialog" max-width="800px" scrollable>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-row dense>
                <v-col>
                  <v-text-field
                    id="agent"
                    name="agent"
                    v-model="editedItem.agent"
                    :label="$t('agentSchedule.headers.AGENT_SCHEDULE_AGENT')"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    id="site"
                    name="site"
                    v-model="editedItem.site"
                    :label="$t('agentSchedule.headers.AGENT_SCHEDULE_SITE')"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row dense>
                <v-col>
                  <v-card>
                    <v-list shaped v-model="editedItem.schedule" multiple>
                      <!-- <v-list-item-group
                      v-model="editedItem.schedule"
                      multiple
                      > -->
                      <v-subheader>{{
                        $t('agentSchedule.headers.AGENT_SCHEDULE_SCHEDULE')
                      }}</v-subheader>
                      <v-divider></v-divider>
                      <template v-for="(item, i) in editedItem.schedule">
                        <v-list-item :key="`item-${i}`" :value="item">
                          <template v-slot:default="">
                            <v-list-item-action>
                              <v-checkbox :input-value="inactive"></v-checkbox>
                            </v-list-item-action>
                            <v-list-item-content>
                              <v-list-item-title
                                >{{ item.date }} -
                                {{ item.shift }}</v-list-item-title
                              >
                            </v-list-item-content>
                          </template>
                        </v-list-item>
                      </template>
                      <!-- </v-list-item-group> -->
                    </v-list>
                  </v-card>
                </v-col>
                <v-col>
                  <v-card>
                    <v-list shaped v-model="editedItem.penalties" multiple>
                      <!-- <v-list-item-group
                      v-model="editedItem.penalties"
                      multiple
                      > -->
                      <v-subheader>{{
                        $t('agentSchedule.headers.AGENT_SCHEDULE_PENALTIES')
                      }}</v-subheader>
                      <v-divider></v-divider>
                      <template v-for="(item, i) in editedItem.penalties">
                        <v-list-item :key="`item-${i}`" :value="item">
                          <template v-slot:default="">
                            <v-list-item-content :color="yellow">
                              <v-list-item-title
                                >{{
                                  $t(
                                    'agentSchedule.headers.AGENT_SCHEDULE_TYPE'
                                  )
                                }}: {{ item.type }}</v-list-item-title
                              >
                              <v-list-item-subtitle
                                >{{
                                  $t(
                                    'agentSchedule.headers.AGENT_SCHEDULE_SHIFT'
                                  )
                                }}:
                                {{ item.penalty.shift }}</v-list-item-subtitle
                              >
                              <v-list-item-subtitle
                                >{{
                                  $t(
                                    'agentSchedule.headers.AGENT_SCHEDULE_LEVEL'
                                  )
                                }}:
                                {{ item.penalty.level }}</v-list-item-subtitle
                              >
                              <v-list-item-subtitle
                                >{{
                                  $t(
                                    'agentSchedule.headers.AGENT_SCHEDULE_START_DATE'
                                  )
                                }}:
                                {{ item.penalty.start }}</v-list-item-subtitle
                              >
                              <v-list-item-subtitle
                                >{{
                                  $t(
                                    'agentSchedule.headers.AGENT_SCHEDULE_LENGTH'
                                  )
                                }}:
                                {{ item.penalty.length }}</v-list-item-subtitle
                              >
                              <v-list-item-subtitle
                                >{{
                                  $t(
                                    'agentSchedule.headers.AGENT_SCHEDULE_STATUS'
                                  )
                                }}:
                                {{ item.penalty.status }}</v-list-item-subtitle
                              >
                              <v-list-item-subtitle
                                >{{
                                  $t(
                                    'agentSchedule.headers.AGENT_SCHEDULE_PENALTY'
                                  )
                                }}:
                                {{ item.penalty.penalty }}</v-list-item-subtitle
                              >
                            </v-list-item-content>

                            <!-- <v-list-item-action>
                          <v-checkbox
                            :input-value="active"
                          ></v-checkbox>
                          </v-list-item-action> -->
                          </template>
                        </v-list-item>
                      </template>
                      <!-- </v-list-item-group> -->
                    </v-list>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="red lighten3" text @click="close" class="btnCancel">{{
              $t('dataTable.CANCEL')
            }}</v-btn>
            <v-btn color="yellow lighten3" text @click="save" class="btnSave">{{
              $t('dataTable.SAVE')
            }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!--
        <v-dialog  v-model="shiftExchangeDlg"
          max-width="900px"
          content-class="dlgNewEditItem"
        >
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 md6>
                    <v-autocomplete
                      v-model="editedItem.shiftSite"
                      :value="shiftSite"
                      :items="siteNames"
                      @change="getSiteShifts(shiftSite)"
                      dense
                      filled
                      :label="$t('assignments.headers.ASSIGN_SITE')"
                    >
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-autocomplete
                      v-model="assignTask"
                      :items="allTasks"
                      dense
                      filled
                      :label="$t('assignments.headers.ASSIGN_TASK')"
                    >
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-autocomplete
                      v-model="assignEquipment"
                      :items="allEquipments"
                      dense
                      filled
                      :label="$t('assignments.headers.ASSIGN_EQUIPMENT')"
                    ></v-autocomplete>
                  </v-flex>
                  <v-row justify="space-around" align="center">
                    <v-menu
                      ref="assignDateMenu"
                      :close-on-content-click="false"
                      v-model="assignDateMenu"
                      transition="scale-transition"
                      offset-y
                      :nudge-right="40"
                      max-width="500px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="assignDates"
                          label="Assign date"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker v-model="assignDates" multiple>
                        <v-spacer></v-spacer>
                        <v-btn
                          text
                          color="primary"
                          @click="assignDateMenu = false"
                          >Cancel
                        </v-btn>
                        <v-btn
                          text
                          color="primary"
                          @click="$refs.assignDateMenu.save(assignDates)"
                          >OK
                        </v-btn>
                      </v-date-picker>
                    </v-menu>
                  </v-row>
                  <v-row justify="space-around" align="center">
                    <v-col cols="11" sm="5">
                    <v-autocomplete
                      v-model="editedItem.shiftShift"
                      :items="shiftTypes"
                      outlined
                      dense
                      chips
                      small-chips
                      label="Shift"
                      multiple
                    ></v-autocomplete>
                    </v-col>
                    <v-spacer></v-spacer>
                  </v-row>
                  <v-container class="dark">
                    <v-row no-gutters>
                        <v-col>
                          <v-card class="mx-auto" max-width="400">
                            <v-toolbar color="green" dark>
                              <v-app-bar-nav-icon></v-app-bar-nav-icon>
                              <v-toolbar-title>Affectés</v-toolbar-title>
                              <v-spacer></v-spacer>
                              <v-btn icon>
                                <v-icon>mdi-magnify</v-icon>
                              </v-btn>
                            </v-toolbar>
                            <v-list dark>
                              <v-list-item
                                v-for="(item, index) in assigned"
                                :key="index"
                              >
                                <v-list-item-content>
                                  <v-list-item-title>{{
                                    item
                                  }}</v-list-item-title>
                                </v-list-item-content>
                                <v-list-item-action>
                                  <v-checkbox
                                    @change="onCheckExchange(index, item)"
                                  >
                                  </v-checkbox>
                                </v-list-item-action>
                              </v-list-item>
                            </v-list>
                          </v-card>
                        </v-col>
                        <v-col>
                          <v-card class="mx-auto" max-width="400">
                            <v-toolbar color="purple" dark>
                              <v-app-bar-nav-icon></v-app-bar-nav-icon>
                              <v-toolbar-title>Disponibles</v-toolbar-title>
                              <v-spacer></v-spacer>
                              <v-btn icon>
                                <v-icon>mdi-magnify</v-icon>
                              </v-btn>
                            </v-toolbar>
                              <v-card-title>
                                <v-text-field v-model="search" label="Search"></v-text-field>
                              </v-card-title>
                            <v-list dark>
                              <v-list-item
                                v-for="(item, index) in allAgents"
                                :key="index"
                              >
                                <v-list-item-content>
                                  <v-list-item-title>{{
                                    item
                                  }}</v-list-item-title>
                                </v-list-item-content>
                                <v-list-item-action>
                                  <v-checkbox
                                    id="available"
                                    @change="onCheckAvailable(index, item)"
                                  >
                                  </v-checkbox>
                                </v-list-item-action>
                              </v-list-item>
                            </v-list>
                          </v-card>
                        </v-col>
                    </v-row>
                  </v-container>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red lighten3" text @click="close" class="btnCancel">{{
                $t('dataTable.CANCEL')
              }}</v-btn>
              <v-btn color="yellow lighten3" text @click="save" class="btnSave">{{
                $t('dataTable.SAVE')
              }}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      -->
    </v-layout>
    <v-data-table
      :headers="headers"
      :items="items"
      sort-by="agent"
      class="elevation-1"
      :expanded.sync="expanded"
      show-expand
      single-expand
      item-key="_id"
    >
      <v-divider></v-divider>
      <template v-slot:expanded-item="{ item }">
        <td :colspan="headers.length">
          <v-simple-table dense>
            <template v-slot:default>
              <!-- <table>               -->
              <tbody>
                <tr v-for="(sample, index) in item.schedule" :key="index">
                  <!-- <td>
                    <v-checkbox
                      @click.native="openAssignDlg(item)"
                      primary
                      hide-details
                      :input-value="item.selected"
                    ></v-checkbox>
                  </td> -->
                  <td>{{ sample.date }}</td>
                  <td>{{ sample.shift }}</td>
                </tr>
              </tbody>
              <!-- </table> -->
            </template>
          </v-simple-table>
        </td>
      </template>
      <template v-slot:item._id="props">
        <v-layout class="justify-center">
          <v-tooltip top>
            <template #activator="on">
              <v-btn v-on="on" @click="editItem(props.item)" icon class="mx-0">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </template>
            <span>{{ $t('dataTable.EDIT') }}</span>
          </v-tooltip>
          <v-tooltip top>
            <template #activator="on">
              <v-btn
                icon
                color="yellow darken-1"
                class="mx-0"
                v-on="on"
                @click="deleteItem($event, props.item)"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </template>
            <span>{{ $t('dataTable.DELETE') }}</span>
          </v-tooltip>
        </v-layout>
      </template>
      <template v-slot:no-data>{{ $t('dataTable.NO_DATA') }}</template>
      <template v-slot:no-results>{{ $t('dataTable.NO_RESULTS') }}</template>
    </v-data-table>

    <ErrorMessage />
    <SuccessMessage />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { getFormat, buildPayloadPagination } from '@/utils/utils.js'

import * as moment from 'moment'
import 'moment/locale/fr'
// import format from 'date-fns/format'
import formatISO from 'date-fns/formatISO'
// import parse from 'date-fns/parse'
import parseISO from 'date-fns/parseISO'
import endOfMonth from 'date-fns/endOfMonth'
import startOfMonth from 'date-fns/startOfMonth'
import { app } from '../main.js'

export default {
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('agentSchedule.TITLE')} - %s`
    }
  },
  data() {
    return {
      today: new Date().toISOString().substr(0, 10),
      scheduleDates: [],
      singleExpand: true,
      shiftExchangeDlg: false,
      expanded: [],
      schedules: [],
      currentlyEditing: null,
      scheduledlg: false,
      detailDialog: false,
      assigned: [],
      agents: [],
      editedIndex: -1,
      editedItem: {
        agent: '',
        site: '',
        schedule: [
          {
            date: '',
            shift: ''
          }
        ],
        penalties: [
          {
            _id: '',
            created_at: '',
            penalty: '',
            start_schedule: '',
            type: ''
          }
        ]
      },
      defaultItem: {
        agent: '',
        site: '',
        schedule: [
          {
            date: '',
            shift: ''
          }
        ],
        penalties: [
          {
            _id: '',
            created_at: '',
            penalty: '',
            start_schedule: '',
            type: ''
          }
        ]
      },
      selected: [],
      search: '',
      cards: [
        { title: 'Schedule', flex: 6 },
        { title: 'Penalites', flex: 6 }
      ],
      tasks: [],
      equipments: [],
      agentArrayLoaded: false,
      siteShifts: [],
      shiftTypes: ['M', 'A', 'N', 'O'],
      assignDates: []
    }
  },
  computed: {
    sites() {
      console.log(this.$store.state.adminSites.sites)
      return this.populateSites(this.$store.state.adminSites.sites)
    },
    dateRangeText() {
      return this.scheduleDates.join(' ~ ')
    },
    items() {
      return this.$store.state.adminScheduleAgents.scheduleagents
    },
    totalItems() {
      return this.$store.state.adminScheduleAgents.totalScheduleagents
    },
    headers() {
      return [
        {
          text: this.$i18n.t('dataTable.ACTIONS'),
          value: '_id',
          sortable: false,
          width: 100
        },
        {
          text: this.$i18n.t('agentSchedule.headers.AGENT_SCHEDULE_AGENT'),
          align: 'left',
          sortable: true,
          value: 'agent'
        },
        {
          text: this.$i18n.t('agentSchedule.headers.AGENT_SCHEDULE_SITE'),
          align: 'left',
          sortable: true,
          value: 'site'
        },
        { text: '', value: 'data-table-expand' }
        // {
        //   text: this.$i18n.t('agentSchedule.headers.AGENT_SCHEDULE_DATE'),
        //   align: 'left',
        //   sortable: true,
        //   value: 'schedule.date'
        // },
        // {
        //   text: this.$i18n.t('agentSchedule.headers.AGENT_SCHEDULE_SHIFT'),
        //   align: 'left',
        //   sortable: true,
        //   value: 'schedule.shift'
        // }
        // {
        //   text: this.$i18n.t('agentSchedule.headers.AGENT_SCHEDULE_PENALTIES'),
        //   align: 'left',
        //   sortable: true,
        //   value: 'schedule'
        // }
      ]
    },
    allAgents() {
      return this.$store.state.adminAgents.agents
    },
    allTasks() {
      return this.populateTasks(this.$store.state.tasks.allTasks)
    },
    allEquipments() {
      // return this.$store.state.equipment.allEquipments
      return this.populateEquips(this.$store.state.equipment.allEquipments)
    },
    siteNames() {
      return this.$store.state.sites.allSites
    },
    formTitle() {
      return this.editedIndex
        ? this.$t('dataTable.DETAILS')
        : this.$t('dataTable.DETAILS')
    }
  },
  watch: {
    detailDialog(value) {
      return value ? true : this.close()
    },
    // scheduledlg(value) {
    //   return value ? true : this.close()
    // },
    assignSite(val, oldval) {
      console.log(val, oldval)
    },

    pagination: {
      async handler() {
        try {
          this.dataTableLoading = true
          await this.getCities(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
          // eslint-disable-next-line no-unused-vars
        } catch (error) {
          this.dataTableLoading = false
        }
      },
      deep: true
    },
    async search() {
      clearTimeout(this.delayTimer)
      this.delayTimer = setTimeout(() => {
        this.doSearch()
      }, 400)
    }
  },
  methods: {
    ...mapActions([
      'getScheduleagents',
      'editScheduleagent',
      'saveScheduleagent',
      'deleteScheduleagent',
      'updateScheduleagent',
      'getAllSites',
      'getSites',
      'getAllTasks',
      'getAgents',
      'getShiftTypes',
      'getAllEquipments'
    ]),
    getSiteShifts(value) {
      console.log(value)
    },
    populateTasks(taskArray) {
      this.tasks = taskArray.reduce(
        (accumulator, currentValue, index, array) => {
          accumulator.push({
            text: `${currentValue.taskName}`,
            value: `${currentValue._id}`
          })
          return accumulator
        },
        []
      )
      // console.log(this.tasks)
      return this.tasks
    },
    populateEquips(equipArray) {
      this.equipments = equipArray.reduce(
        (accumulator, currentValue, index, array) => {
          accumulator.push({
            text: `${currentValue.equipmentName}`,
            value: `${currentValue._id}`
          })
          return accumulator
        },
        []
      )
      // console.log(this.equipments)
      return this.equipments
    },
    populateAgents(userArray) {
      // if (this.agentArrayLoaded) {
      debugger
      this.agents = userArray.reduce(
        (accumulator, currentValue, index, array) => {
          accumulator.push({
            id: `${currentValue._id}`,
            name: `${currentValue.firstname} ${currentValue.lastname}`
          })
          return accumulator
        },
        []
      )
      // this.agentArrayLoaded = false
      // }
      if (this.agents.length === 0) {
        this.agents = [...this.selected]
      }
      console.log(this.agents)
      return this.agents
    },
    populateSites(siteArray) {
      debugger
      this.siteShifts = siteArray.reduce(
        (accumulator, currentValue, index, array) => {
          accumulator.push({
            siteName: `${currentValue.siteName}`,
            siteShiftAM: `${currentValue.siteShiftAM}`,
            siteShiftPM: `${currentValue.siteShiftPM}`,
            siteShiftNT: `${currentValue.siteShiftNT}`
          })
          return accumulator
        },
        []
      )
      if (this.siteShifts.length === 0) {
        this.siteShifts = [...this.siteShifts]
      }
      console.log(this.siteShifts)
      return this.siteShifts
    },
    async getSchedule(dates) {
      try {
        if (dates[0] && dates[1]) {
          const snapshot = await this.getScheduleagents({
            dateStart: dates[0],
            dateEnd: dates[1]
          })
          // console.log(snapshot)
        }
        this.scheduledlg = false
      } catch (error) {
        console.log(error)
      }
    },
    editScheduleagent(ev) {
      this.currentlyEditing = ev.id
      // console.log(calItem)
      //   this.assigned = [...calItem.agents]
      //   this.assignSite = calItem.name
      //   this.assignTask = calItem.tasks
      //   this.assignDates = moment(calItem.start).format('YYYY-MM-DD')
      //   // assignStartDate: calItem.assignStartDate,
      //   this.assignStartTime = moment(calItem.start).format('HH:mm')
      //   this.assignEndTime = moment(calItem.end).format('HH:mm')
      //   // assignEndTime: calItem.assignEndTime,
      //   this.assignAgents = [...calItem.agents]
      //   this.assignObs = calItem.obs
      //   this.assignEquipment = calItem.equipments
      //   this.shiftExchangeDlg = true
    },
    async updateAgentschedule(ev) {
      // await db.collection('calEvent').doc(this.currentlyEditing).update({
      //   details: ev.details
      // })
      this.selectedOpen = false
      this.currentlyEditing = null
    },
    async deleteScheduleagent(ev) {
      try {
        // this.selectedOpen = false
        // this.getEvents()
        // this.$confirm(

        const dialogInstance = await this.$dialog.confirm({
          title: this.$t('common.WARNING'),
          text: this.$t('common.DO_YOU_REALLY_WANT_TO_DELETE_THIS_ITEM'),
          waitForResult: true
        })

        setTimeout(() => {
          if (dialogInstance.vm) {
            dialogInstance.close()
          }
        }, 3000)
        const response = await dialogInstance.wait()

        if (response === true) {
          console.log(response)
          this.dataTableLoading = true
          await this.deleteScheduleagent(ev.id)
          // await this.getScheduleagents(
          //   buildPayloadPagination(this.pagination, this.buildSearch())
          // )
          this.dataTableLoading = false
        }
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    async saveScheduleagent(ev) {
      // debugger
      try {
        // const valid = await this.$validator.validateAll()
        // if (valid) {
        this.dataTableLoading = true
        // Updating item
        if (this.editedItem._id) {
          await this.editScheduleagent(this.editedItem)
          await this.getScheduleagents(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
        } else {
          // Creating new item
          await this.saveScheduleagent({
            // assignSite: this.assignSite,
            // assignTask: this.assignTask,
            // assignDates: [...this.assignDates],
            // assignStartDate: this.assignStartDate,
            // assignStartTime: this.assignStartTime,
            // assignEndDate: this.assignEndDate,
            // assignEndTime: this.assignEndTime,
            // assignAgents: [...this.assigned],
            // assignObs: this.assignObs,
            // assignEquipment: this.assignEquipment
          })
          // await this.getAllAssignments(
          //   buildPayloadPagination(this.pagination, this.buildSearch())
          // )
          this.dataTableLoading = false
        }
        this.close()
        // }
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
        this.close()
      }
    },
    async doSearch() {
      try {
        this.dataTableLoading = true
        await this.getCities(
          buildPayloadPagination(this.pagination, this.buildSearch())
        )
        this.dataTableLoading = false
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    buildSearch() {
      return this.search
        ? { query: this.search, fields: this.fieldsToSearch.join(',') }
        : {}
    },
    editItem(item) {
      // this.editedIndex = this.items.indexOf(item)
      this.editedItem = Object.assign({}, item)
      console.log(item)
      this.detailDialog = true
    },
    openAssignDlg(item) {
      // this.editedIndex = this.items.indexOf(item)
      this.editedItem = Object.assign({}, item)
      // console.log(item)
      this.shiftExchangeDlg = true
    },
    async deleteItem(item) {
      try {
        const index = this.items.indexOf(item)
        const response = await this.$confirm(
          this.$t('common.DO_YOU_REALLY_WANT_TO_DELETE_THIS_ITEM'),
          {
            title: this.$t('common.WARNING'),
            buttonTrueText: this.$t('common.DELETE'),
            buttonFalseText: this.$t('common.CANCEL'),
            buttonTrueColor: 'red lighten3',
            buttonFalseColor: 'yellow lighten3'
          }
        )
        if (response) {
          this.dataTableLoading = true
          await this.deleteCity(item._id)
          await this.getCities(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
        }
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    close() {
      this.detailDialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
      }, 300)
    },
    async saveEditedItem() {
      try {
        if (this.editedIndex > -1) {
          Object.assign(this.items[this.editedIndex], this.editedItem)
        } else {
          this.items.push(this.editedItem)
        }
        this.close()
        // const valid = await this.$validator.validateAll()
        // if (valid) {
        //   this.dataTableLoading = true
        //   // Updating item
        //   if (this.editedItem._id) {
        //     await this.editCity(this.editedItem)
        //     await this.getCities(
        //       buildPayloadPagination(this.pagination, this.buildSearch())
        //     )
        //     this.dataTableLoading = false
        //   } else {
        //     // Creating new item
        //     await this.saveCity({ name: this.editedItem.name })
        //     await this.getCities(
        //       buildPayloadPagination(this.pagination, this.buildSearch())
        //     )
        //     this.dataTableLoading = false
        //   }
        //   this.close()
        // }
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
        this.close()
      }
    },
    async openschedulegents() {
      this.scheduledlg = true
    },
    clickedRow(item, row) {
      console.log(item)
      // this.editedIndex = this.items.indexOf(item)
      // this.editedItem = Object.assign({}, item)
      // this.detailDialog = true
    },
    onCheckAvailable(id, item) {
      // console.log('onCheckAvailable: ', item)
      this.assigned.push(item)
      // this.$delete(this.$store.state.adminUsers.users, this.agents[index].id)
      this.$delete(this.agents, item)
      this.$emit('onCheckAvailable', this.agents)
    },
    onCheckExchange(id, item) {
      this.agents.push(item)
      // console.log('onCheckExchange: ', item)
      this.selected.push(item)
      this.$delete(this.assigned, item)
      this.$emit('onCheckExchange', this.assigned)
    }
  },
  async mounted() {
    this.agentArrayLoaded = true
    await this.getSites()
    await this.getAllSites()
    await this.getAllTasks()
    await this.getAgents()
    await this.getAllEquipments()
    await this.getShiftTypes()
  }
}
</script>
<style>
.theme--light.v-subheader {
  /* or dark depending on your theme*/
  color: blue;
}
/* OR */
.v-subheader {
  color: green !important;
}
</style>
