<template>
  <div>
    <v-layout wrap>
      <v-flex xs12 sm12 md4 mt-3 pl-4>
        <v-toolbar-title>{{ $t('punchclock.TITLE') }}</v-toolbar-title>
      </v-flex>
      <v-row>
        <v-col cols="12" sm="6" md="8">
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            :label="$t('dataTable.SEARCH')"
            single-line
            hide-details
            clearable
            clear-icon="mdi-close"
          ></v-text-field>
        </v-col>
        <v-col>
          <v-btn
            v-if="!validated"
            color="green lighten3"
            text
            @click="validatePunchClocks"
            class="btnSave"
          >
            <v-icon class="mr-2">mdi-checkbox-marked-circle-outline</v-icon>
            {{ $t('dataTable.VALID_PUNCH') }}
          </v-btn>
        </v-col>
      </v-row>
      <v-flex xs12 sm6 md4 text-xs-right mb-2 mt-2 pr-2>
        <v-dialog
          ref="dialog"
          v-model="modal"
          :return-value.sync="date"
          persistent
          width="290px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="date"
              :label="$t('dataTable.FIND_PUNCH')"
              prepend-icon="mdi-calendar"
              readonly
              v-bind="attrs"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="date" type="month" scrollable locale="locale">
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="modal = false">
              Cancel
            </v-btn>
            <v-btn text color="primary" @click="save(date)">
              OK
            </v-btn>
          </v-date-picker>
        </v-dialog>
      </v-flex>
    </v-layout>

    <v-data-table
      :headers="headers"
      :items="items"
      :page.sync="page"
      :items-per-page="itemsPerPage"
      hide-default-footer
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      item-key="punchUsername"
      :search="search"
      :server-items-length="totalItems"
      class="elevation-1"
      @page-count="pageCount = $event"
      @pagination="doSomething"
    >
      <template v-slot:item.punchStartLocation="{ item }">
        <v-chip :color="getColor(item.punchStartLocation)" dark>
          {{ item.punchStartLocation }}
        </v-chip>
      </template>
      <template v-slot:item.punchEndLocation="{ item }">
        <v-chip :color="getColor(item.punchEndLocation)" dark>
          {{ item.punchEndLocation }}
        </v-chip>
      </template>
      <template v-slot:no-data>{{ $t('dataTable.NO_DATA') }}</template>
      <template v-slot:no-results>{{ $t('dataTable.NO_RESULTS') }}</template>
    </v-data-table>
    <ErrorMessage />
    <SuccessMessage />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { getFormat, buildPayloadPagination } from '@/utils/utils.js'
import formatISO from 'date-fns/formatISO'
// import parse from 'date-fns/parse'
import parseISO from 'date-fns/parseISO'
import endOfMonth from 'date-fns/endOfMonth'
import startOfMonth from 'date-fns/startOfMonth'
import * as moment from 'moment'
export default {
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('punchclock.TITLE')} - %s`
    }
  },
  data() {
    return {
      dataTableLoading: true,
      delayTimer: null,
      dialog: false,
      search: '',
      pagination: {},
      editedItem: {},
      defaultItem: {},
      fieldsToSearch: ['name'],
      saving: false,
      saved: false,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      sortBy: 'punchUsername',
      punchUsername: '',
      sortDesc: false,
      errorMessages: [],
      datePicker: [],
      validated: false,
      locale: 'fr',
      date: new Date().toISOString().substr(0, 7),
      menu: false,
      modal: false
    }
  },
  computed: {
    formTitle() {
      return this.editedItem._id
        ? this.$t('dataTable.EDIT_ITEM')
        : this.$t('dataTable.NEW_ITEM')
    },
    headers() {
      return [
        {
          text: this.$i18n.t('punchclock.headers.PUNCH_USERNAME'),
          align: 'left',
          sortable: true,
          value: 'punchUsername'
        },
        {
          text: this.$i18n.t('punchclock.headers.PUNCH_SITE'),
          align: 'left',
          sortable: true,
          value: 'punchSite'
        },
        {
          text: this.$i18n.t('punchclock.headers.PUNCH_START'),
          align: 'left',
          sortable: true,
          value: 'punchStart'
        },
        {
          text: this.$i18n.t('punchclock.headers.PUNCH_END'),
          align: 'left',
          sortable: true,
          value: 'punchEnd'
        },
        {
          text: this.$i18n.t('punchclock.headers.PUNCH_START_LOCATION'),
          align: 'left',
          sortable: true,
          value: 'punchStartLocation'
        },
        {
          text: this.$i18n.t('punchclock.headers.PUNCH_END_LOCATION'),
          align: 'left',
          sortable: true,
          value: 'punchEndLocation'
        },
        {
          text: this.$i18n.t('punchclock.headers.PUNCH_WORKED'),
          align: 'left',
          sortable: true,
          value: 'punchWorked'
        }
      ]
    },
    items() {
      console.log(this.$store.state.adminPunchclocks.punchclocks)
      return this.$store.state.adminPunchclocks.punchclocks
    },
    totalItems() {
      return this.$store.state.adminPunchclocks.totalPunchclocks
    },
    allAgents() {
      console.log(this.$store.state.adminUsers.users)
      return this.populateAgents(this.$store.state.adminUsers.users)
    }
  },
  watch: {
    dialog(value) {
      return value ? true : this.close()
    },
    pagination: {
      async handler() {
        try {
          this.dataTableLoading = true
          // await this.getPunchclocks(
          //   buildPayloadPagination(this.pagination, this.buildSearch())
          // )
          this.dataTableLoading = false
          // eslint-disable-next-line no-unused-vars
        } catch (error) {
          this.dataTableLoading = false
        }
      },
      deep: true
    },
    async search() {
      clearTimeout(this.delayTimer)
      this.delayTimer = setTimeout(() => {
        this.doSearch()
      }, 400)
    }
  },
  methods: {
    ...mapActions(['getPunchclocks', 'validatePunches']),
    getFormat(date) {
      window.__localeId__ = this.$store.getters.locale
      return getFormat(date, 'iii, MMMM d yyyy, h:mm a')
    },
    doSomething(v) {
      // console.log('pagination', v)
      this.pagination = v
    },
    async doSearch() {
      try {
        this.dataTableLoading = true
        // await this.getPunchclocks(
        //   buildPayloadPagination(this.pagination, this.buildSearch())
        // )
        this.dataTableLoading = false
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    buildSearch() {
      return this.search
        ? { query: this.search, fields: this.fieldsToSearch.join(',') }
        : {}
    },
    editItem(item) {
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    async deleteItem(item) {
      try {
        const response = await this.$confirm(
          this.$t('common.DO_YOU_REALLY_WANT_TO_DELETE_THIS_ITEM'),
          {
            title: this.$t('common.WARNING'),
            buttonTrueText: this.$t('common.DELETE'),
            buttonFalseText: this.$t('common.CANCEL'),
            buttonTrueColor: 'red lighten3',
            buttonFalseColor: 'yellow lighten3'
          }
        )
        if (response) {
          this.dataTableLoading = true
          await this.deleteCity(item._id)
          await this.getCities(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
        }
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    close() {
      this.modal = false
    },
    async save(date) {
      try {
        const dateStart = formatISO(
          startOfMonth(parseISO(new Date(date).toISOString().slice(0, 10))),
          { representation: 'date' }
        )

        const dateEnd = formatISO(
          endOfMonth(parseISO(new Date(date).toISOString().slice(0, 10))),
          { representation: 'date' }
        )

        const payload = {
          dateStart,
          dateEnd
        }
        await this.getPunchclocks({ dateStart, dateEnd })
      } catch (error) {
        this.close()
      }
    },
    async validatePunchClocks() {
      const today = new Date().toISOString().slice(0, 10)
      const dateStart = formatISO(startOfMonth(parseISO(today)), {
        representation: 'date'
      })

      const dateEnd = formatISO(endOfMonth(parseISO(today)), {
        representation: 'date'
      })

      await this.validatePunches({ dateStart, dateEnd })
      // const date = moment(today).format('YYYY-MM')
      // await this.save(date)
      this.validated = true
    },
    getColor(location) {
      if (location === 'ko') {
        return 'orange'
      }
      return 'green'
    }
  },
  async mounted() {}
}
</script>

<style>
table.v-table {
  max-width: none;
}
</style>
