<template>
  <v-container fluid>
    <!-- <v-layout row wrap>
      <v-divider class="mx-4" vertical></v-divider>
      <strong style="color: #d1c8ed;">{{ $t('siteschedules.TITLE') }}</strong>
    </v-layout> -->
    <v-dialog
      v-model="generateDialog"
      max-width="500px"
      content-class="dlgNewEditItem"
    >
      <template>
        <v-row align="center">
          <v-date-picker
            v-model="datePicker"
            :show-current="true"
            :landscape="true"
            range
          ></v-date-picker>
        </v-row>
        <v-flex xs12 md6>
          <v-text-field
            v-model="agentBatch"
            :label="$t('siteschedules.headers.AGENT_BATCH')"
            >{{ agentBatch }}</v-text-field
          >
        </v-flex>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red lighten3" text @click="close" class="btnCancel">{{
            $t('dataTable.CANCEL')
          }}</v-btn>
          <v-btn
            color="yellow lighten3"
            text
            @click="generate"
            class="btnSave"
            >{{ $t('dataTable.GENERATE') }}</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="shiftExchangeDlg"
      max-width="500px"
      content-class="dlgNewEditItem"
    >
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-row justify="space-around" align="center">
                <v-col md="4">
                  <v-autocomplete
                    v-model="shiftItem.shiftSite"
                    :items="siteNames"
                    @change="getSiteShifts(shiftItem.shiftSite)"
                    dense
                    filled
                    :label="$t('assignments.headers.ASSIGN_SITE')"
                  >
                  </v-autocomplete>
                </v-col>
                <v-col md="4">
                  <v-autocomplete
                    v-model="shiftItem.shiftTask"
                    :items="allTasks"
                    dense
                    filled
                    :label="$t('assignments.headers.ASSIGN_TASK')"
                  >
                  </v-autocomplete>
                </v-col>
                <v-col md="4">
                  <v-autocomplete
                    v-model="shiftItem.shiftEquipment"
                    :items="allEquipments"
                    dense
                    filled
                    :label="$t('assignments.headers.ASSIGN_EQUIPMENT')"
                  ></v-autocomplete>
                </v-col>
              </v-row>
              <v-row justify="space-around" align="center">
                <v-col md="4">
                  <v-autocomplete
                    v-model="shiftItem.shiftShift"
                    :items="siteShifts"             
                    outlined
                    dense
                    chips
                    small-chips
                    label="Shift"
                  ></v-autocomplete>
                </v-col>
                <v-col md="4">
                  <v-menu
                    v-model="assignDateMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="shiftItem.shiftDate"
                        label="Date"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="shiftItem.shiftDate"
                      @input="assignDateInput = false"
                    ></v-date-picker>
                  </v-menu>
                </v-col>
              </v-row>
              <!-- ############################-->
              <template>
                <v-toolbar dark color="teal">
                  <v-toolbar-title>Selection</v-toolbar-title>
                  <v-autocomplete
                    v-model="shiftItem.shiftAgent"
                    :loading="loading"
                    :items="allAgents"
                    :search-input.sync="search"
                    cache-items
                    class="mx-4"
                    flat
                    hide-no-data
                    hide-details
                    label="Agent"
                    solo-inverted
                  ></v-autocomplete>
                  <v-btn icon>
                    <v-icon>mdi-dots-vertical</v-icon>
                  </v-btn>
                </v-toolbar>
              </template>
              <!-- ############################-->
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red lighten3"
            text
            @click="closeShiftExchangeDlg"
            class="btnCancel"
            >{{ $t('dataTable.CANCEL') }}</v-btn
          >
          <v-btn
            color="yellow lighten3"
            text
            @click="saveShiftExchangeDlg"
            class="btnSave"
            >{{ $t('dataTable.SAVE') }}</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <template>
      <v-sheet height="64">
        <v-toolbar color="dark">
          <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
            {{ $t('layoutType.LAYOUT_TYPE_TODAY') }}
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="prev">
            <v-icon small>mdi-chevron-left</v-icon>
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="next">
            <v-icon small>mdi-chevron-right</v-icon>
          </v-btn>
          <v-toolbar-title>{{ title }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-title>{{ $t('siteschedules.TITLE') }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-divider vertical></v-divider>
          <!-- <template v-slot:activator="{ on }"> -->
          <v-btn
            color="primary"
            v-on="on"
            class="btnNewItem pr-4"
            @click="openShiftExchangeDlg"
          >
            <v-icon class="mr-2">mdi-plus</v-icon>
            {{ $t('dataTable.NEW_ITEM') }}
          </v-btn>
          <!-- </template>           -->
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-divider vertical></v-divider>
          <v-btn
            color="secondary"
            v-on="on"
            class="btnGenerate pr-4"
            @click="generateSchedule"
          >
            <v-icon class="mr-2">mdi-select-group</v-icon>
            {{ $t('dataTable.GENERATE') }}
          </v-btn>
          <v-spacer></v-spacer>
          <!-- <v-spacer></v-spacer> -->
          <v-divider vertical></v-divider>
          <v-menu bottom right>
            <template v-slot:activator="{ on }">
              <v-btn outlined color="grey darken-2" v-on="on">
                <span>{{ typeToLabel[type] }}</span>
                <v-icon right>mdi-menu-down</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="type = 'day'">
                <v-list-item-title>{{
                  $t('layoutType.LAYOUT_TYPE_DAY')
                }}</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'week'">
                <v-list-item-title>{{
                  $t('layoutType.LAYOUT_TYPE_WEEK')
                }}</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'month'">
                <v-list-item-title>{{
                  $t('layoutType.LAYOUT_TYPE_MONTH')
                }}</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = '4day'">
                <v-list-item-title>{{
                  $t('layoutType.LAYOUT_TYPE_4DAYS')
                }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-toolbar>
      </v-sheet>
      <v-sheet height="600">
        <v-calendar
          ref="calendar"
          v-model="focus"
          color="primary"
          :events="events"
          :event-color="getEventColor"
          :now="today"
          :type="type"
          @click:event="showEvent"
          @click:more="viewDay"
          @click:date="viewDay"
          @change="getEvents"
          :locale="locale"
        ></v-calendar>
        <v-menu
          v-model="selectedOpen"
          :close-on-content-click="false"
          :activator="selectedElement"
          offset-x
        >
          <v-card :color="selectedEvent.color" min-width="350px" flat>
            <v-system-bar :color="selectedEvent.color" dark>
              <v-btn @click="editShiftItem(selectedEvent)" icon>
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </v-system-bar>
            <v-card-title>{{ selectedEvent.name }}</v-card-title>
            <v-card-text :color="selectedEvent.color">
              <div
                style="
                  background-color: #635f5f;
                  overflow: auto;
                  color: #dcedc8;
                "
                class="clear_fix"
              >
                Date : {{ selectedEvent.startDate }}
              </div>
              <div
                style="
                  background-color: #635f5f;
                  overflow: auto;
                  color: #dcedc8;
                "
                class="clear_fix"
              >
                Shift : {{ selectedEvent.shift }}
              </div>
              <div
                style="
                  background-color: #635f5f;
                  overflow: auto;
                  color: #dcedc8;
                "
                class="clear_fix"
              >
                <table>
                  <thead>
                    <tr>
                      <th colspan="2">Agents</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="agent in selectedEvent.agents" :key="agent">
                      <td>{{ agent }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </v-card-text>
            <v-card-actions>
              <v-btn text color="secondary" @click="selectedOpen = false">
                Cancel
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
      </v-sheet>
    </template>
    <ErrorMessage />
    <SuccessMessage />
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import { getFormat, buildPayloadPagination } from '@/utils/utils.js'
import * as moment from 'moment'
// import 'moment/locale/fr'
import localization from 'moment/locale/fr'
// import format from 'date-fns/format'
import formatISO from 'date-fns/formatISO'
// import parse from 'date-fns/parse'
import parseISO from 'date-fns/parseISO'
import endOfMonth from 'date-fns/endOfMonth'
import startOfMonth from 'date-fns/startOfMonth'
export default {
  data: () => ({
    focus: '',
    type: 'month',
    typeToLabel: {
      month: 'Mois',
      week: 'Sem.',
      day: 'Jour',
      '4day': '4 Jours'
    },
    start: null,
    end: null,
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    events: [],
    colors: ['blue', 'yellow', 'deep-purple', 'grey darken-1', 'cyan', 'green'],
    available: [],
    constraints: [],
    datePicker: [],
    landscape: false,
    generateDialog: false,
    locale: 'fr',
    defaultItem: {},
    editedItem: {},
    shiftItem: {},
    today: '',
    agentBatch: 7,
    shiftExchangeDlg: false,
    assigned: [],
    agents: [],
    model: [1, 3, 6],
    assignDateMenu: false,
    startTimeMenu: false,
    endTimeMenu: false,
    assignDates: [],
    assignStartTime: '',
    assignEndTime: '',
    assignTask: '',
    assignSite: '',
    assignEquipment: '',
    enabled: null,
    assignObs: '',
    tasks: [],
    equipments: [],
    siteShifts: [],
    shifts: [],
    sites: [],
    loading: false,
    items: [],
    search: null,
    select: null,
    assignDateInput: '',
    assignDateText: '',
    shiftDate: ''
  }),
  computed: {
    title() {
      const { start, end } = this
      if (!start || !end) {
        return ''
      }

      const startMonth = this.monthFormatter(start)
      const endMonth = this.monthFormatter(end)
      const suffixMonth = startMonth === endMonth ? '' : endMonth

      const startYear = start.year
      const endYear = end.year
      const suffixYear = startYear === endYear ? '' : endYear

      const startDay = start.day + this.nth(start.day)
      const endDay = end.day + this.nth(end.day)

      switch (this.type) {
        case 'month':
          return `${startMonth} ${startYear}`
        case 'week':
        case '4day':
          return `${startMonth} ${startDay} ${startYear} - ${suffixMonth} ${endDay} ${suffixYear}`
        case 'day':
          return `${startMonth} ${startDay} ${startYear}`
      }
      return ''
    },
    monthFormatter() {
      return this.$refs.calendar.getFormatter({
        timeZone: 'UTC',
        month: 'long'
      })
    },
    formTitle() {
      return this.editedItem._id
        ? this.$t('dataTable.EDIT_ITEM')
        : this.$t('dataTable.NEW_ITEM')
    },
    siteSchedules() {
      return this.$store.state.adminSiteSchedules.siteSchedules
    },
    totalShiftConstraints() {
      return this.$store.state.adminSiteSchedules.totalSiteSchedules
    },
    allAgents() {
      return this.$store.state.adminAgents.agents
    },
    // availableAgents() {
    //   return this.fillUserArray(this.$store.state.adminUsers.users)
    // },
    // allShiftTypes() {
    //   return this.$store.state.adminShiftTypes.shifttypes
    // },
    allTasks() {
      return this.populateTasks(this.$store.state.tasks.allTasks)
    },
    allEquipments() {
      // return this.$store.state.equipment.allEquipments
      return this.populateEquips(this.$store.state.equipment.allEquipments)
    },
    siteNames() {
      return this.$store.state.sites.allSites
    },
    siteShifts() {
      return this.$store.state.adminSites.sites
    },
    headers() {
      return [
        {
          text: this.$i18n.t('dataTable.ACTIONS'),
          value: '_id',
          sortable: false,
          width: 100
        },
        {
          text: this.$i18n.t('assignments.headers.ASSIGN_AGENT'),
          align: 'left',
          sortable: true,
          value: 'assignAgent'
        },
        {
          text: this.$i18n.t('assignments.headers.ASSIGN_SITE'),
          align: 'left',
          sortable: true,
          value: 'assignSite'
        },
        {
          text: this.$i18n.t('assignments.headers.ASSIGN_TASK'),
          align: 'left',
          sortable: true,
          value: 'assignTask'
        },
        {
          text: this.$i18n.t('assignments.headers.ASSIGN_START_DATE_TIME'),
          align: 'left',
          sortable: true,
          value: 'assignStartDatetime'
        },
        {
          text: this.$i18n.t('assignments.headers.ASSIGN_END_DATE_TIME'),
          align: 'left',
          sortable: true,
          value: 'assignEndDatetime'
        },
        {
          text: this.$i18n.t('assignments.headers.ASSIGN_OBS'),
          align: 'left',
          sortable: false,
          value: 'assignObs'
        },
        {
          text: this.$i18n.t('common.CREATED'),
          align: 'left',
          sortable: true,
          value: 'createdAt'
        },
        {
          text: this.$i18n.t('common.UPDATED'),
          align: 'left',
          sortable: true,
          value: 'updatedAt'
        }
      ]
    },
    agentHeaders() {
      return [
        {
          text: this.$i18n.t('assignments.headers.ASSIGN_AGENT'),
          align: 'left',
          sortable: true,
          value: 'assignAgents'
        }
      ]
    }
  },
  component: {},
  methods: {
    ...mapActions([
      'getSiteSchedules',
      'generateSchedules',
      'getAllSites',
      'getAllTasks',
      'getAgents',
      'getShiftTypes',
      'getAllEquipments',
      'getSites',
      'getCalendarItems',
      'getAssignments',
      'editSiteschedule',
      'saveSiteschedule',
      'deleteSiteschedule'
    ]),
    viewDay({ date }) {
      this.focus = date
      this.type = 'day'
    },
    getEventColor(event) {
      return event.color
    },
    setToday() {
      this.focus = this.today
    },
    prev() {
      this.$refs.calendar.prev()
    },
    next() {
      this.$refs.calendar.next()
    },
    showEvent({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event
        this.selectedElement = nativeEvent.target
        setTimeout(() => {
          this.selectedOpen = true
        }, 10)
      }

      if (this.selectedOpen) {
        this.selectedOpen = false
        setTimeout(open, 10)
      } else {
        open()
      }

      nativeEvent.stopPropagation()
    },
    async getEvents({ start, end }) {
      try {
        const dateStart = formatISO(
          startOfMonth(
            parseISO(new Date(start.date).toISOString().slice(0, 10))
          ),
          { representation: 'date' }
        )
        const dateEnd = formatISO(
          endOfMonth(parseISO(new Date(end.date).toISOString().slice(0, 10))),
          { representation: 'date' }
        )
        this.events = []
        // agentBatch = this.agentBatch
        await this.getSiteSchedules({ dateStart, dateEnd })
        console.log(this.siteSchedules)
        for (const item of this.siteSchedules) {
          // if (!item.siteShift.localeCompare('0')) {
          let shift = ''
          let color = ''
          switch (item.siteShift) {
            case 'M':
              shift = this.$i18n.t('shifttype.EARLY')
              color = 0
              break
            case 'A':
              shift = this.$i18n.t('shifttype.DAY')
              color = 1
              break
            case 'O':
              continue
              break
            case 'N':
              shift = this.$i18n.t('shifttype.NIGHT')
              color = 2
              break
            default:
          }
          // debugger
          // console.log(item.siteShift, item.siteName, this.colors[color])
          this.events.push({
            name: item.siteName,
            start: this.formatDate(new Date(item.siteDate), false),
            startDate: this.formatDateFr(new Date(item.siteDate), false),
            shift,
            id: item.siteScheduleId,
            agents: item.siteAgents,
            color: this.colors[color],
            open: false
          })
          // }
        }
        this.start = start
        this.end = end
      } catch (error) {
        console.log(error)
      }
    },
    nth(d) {
      return d > 3 && d < 21
        ? 'th'
        : ['th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th'][d % 10]
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a
    },
    formatDate(a, withTime) {
      return withTime
        ? `${a.getFullYear()}-${
            a.getMonth() + 1
          }-${a.getDate()} ${a.getHours()}:${a.getMinutes()}`
        : `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()}`
    },
    formatDateFr(a, withTime) {
      // console.log(`${a.getDate()}/${a.getMonth() + 1}/${a.getFullYear()}`)
      return withTime
        ? `${a.getDate()}/${
            a.getMonth() + 1
          }/${a.getFullYear()} ${a.getHours()}:${a.getMinutes()}`
        : `${`0${a.getDate()}`.slice(-2)}/${`0${a.getMonth() + 1}`.slice(
            -2
          )}/${a.getFullYear()}`
    },
    closeGenerateDialog() {
      this.generateDialog = false
      setTimeout(() => {
        this.datePicker = Object.assign({}, this.defaultItem)
      }, 300)
    },
    closeShiftExchangeDlg() {
      this.shiftExchangeDlg = false
      setTimeout(() => {
        this.datePicker = Object.assign({}, this.defaultItem)
      }, 300)
    },
    async saveShiftExchangeDlg() {   
      await this.editSiteschedule({
        id : this.shiftItem.id,   
        siteName: this.shiftItem.shiftSite,
        siteDate: this.shiftItem.shiftDate,
        siteShift: this.shiftItem.shiftShift,
        siteAgents: this.shiftItem.shiftAgent      
      })
      // console.log(this.shiftItem)
    },
    async generateSchedule() {
      this.generateDialog = true
    },
    editShiftItem(item) {
      // currItem = {}
      // currItem = Object.assign({}, item)
      this.shiftItem.id = item.id      
      this.shiftItem.shiftDate =   item.start
      this.shiftItem.shiftShift =   item.shift
      this.shiftItem.shiftSite =   item.name 
      this.shiftItem.shiftAgent =   item.agents       
      this.getSiteShifts(this.shiftItem.shiftSite)             
      // console.log(item)
      this.shiftExchangeDlg = true
    },
    async openShiftExchangeDlg() {
      this.shiftExchangeDlg = true
    },
    async generate() {
      try {
        const dateStart = this.datePicker[0]
        const dateEnd = this.datePicker[1]
        const payload = {
          dateStart,
          dateEnd,
          agentBatch: this.agentBatch
        }
        await this.generateSchedules(payload)
        this.close()
      } catch (error) {
        this.close()
      }
    },
    onCheckAvailable(id, item) {
      this.assigned.push(item)
      // this.$delete(this.$store.state.adminUsers.users, this.agents[index].id)
      this.$delete(this.agents, item)
      this.$emit('onCheckAvailable', this.agents)
    },
    onCheckExchange(id, item) {
      this.agents.push(item)
      this.selected.push(item)
      this.$delete(this.assigned, item)
      this.$emit('onCheckExchange', this.assigned)
    },
    async getAvailableAgents() {
      const userArray = this.$store.state.adminUsers.users
      // if (this.agentArrayLoaded) {
      this.agents = userArray.reduce(
        (accumulator, currentValue, index, array) => {
          accumulator.push({
            id: `${currentValue._id}`,
            name: `${currentValue.firstname} ${currentValue.lastname}`
          })
          return accumulator
        },
        []
      )
      return this.agents
    },
    populateTasks(taskArray) {
      this.tasks = taskArray.reduce(
        (accumulator, currentValue, index, array) => {
          accumulator.push({
            text: `${currentValue.taskName}`,
            value: `${currentValue._id}`
          })
          return accumulator
        },
        []
      )
      // console.log(this.tasks)
      return this.tasks
    },
    populateEquips(equipArray) {
      this.equipments = equipArray.reduce(
        (accumulator, currentValue, index, array) => {
          accumulator.push({
            text: `${currentValue.equipmentName}`,
            value: `${currentValue._id}`
          })
          return accumulator
        },
        []
      )
      // console.log(this.equipments)
      return this.equipments
    },
    populateAgents(userArray) {
      this.agents = userArray.reduce(
        (accumulator, currentValue, index, array) => {
          accumulator.push({
            id: `${currentValue._id}`,
            name: `${currentValue.firstname} ${currentValue.lastname}`
          })
          return accumulator
        },
        []
      )
      if (this.agents.length === 0) {
        this.agents = [...this.selected]
      }
      return this.agents
    },
    getSiteShifts(value) {
      this.shifts = this.$store.state.adminSites.sites
      this.shifts.forEach((element) => {
        if (element.siteName === value) {
          if (element.siteShiftAM > 0) {
            this.siteShifts.push(this.$i18n.t('shifttype.EARLY'))
          }
          if (element.siteShiftPM > 0) {
            this.siteShifts.push(this.$i18n.t('shifttype.DAY'))
          }
          if (element.siteShiftAM > 0) {
            this.siteShifts.push(this.$i18n.t('shifttype.LATE'))
          }
        }
      })
      // console.log(this.shifts)
    },
    querySelections(v) {
      this.loading = true
      // Simulated ajax query
      setTimeout(() => {
        this.items = this.agents.filter((e) => {
          return (e || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
        })
        this.loading = false
      }, 500)
    }
  },
  async mounted() {
    // moment.locale('fr')
    // moment().format('DD/MM/YYYY')
    await this.getAllSites()
    await this.getSites()
    await this.getAllTasks()
    await this.getAgents()
    await this.getAllEquipments()
    await this.getAvailableAgents()
    moment().locale('fr', localization).format('LLL')
    this.$refs.calendar.checkChange()
  },
  watch: {
    search(val) {
      // console.log(this.editedItem.assignAgent)
      return (
        val && val !== this.shiftItem.shiftAgent && this.querySelections(val)
      )
    }
  }
}
</script>
