<template>
  <v-data-table
    :headers="headers"
    :items="items"
    :page.sync="page"
    :items-per-page="itemsPerPage"
    :sort-by.sync="sortBy"
    :sort-desc.sync="sortDesc"
    item-key="cumulAgent"
    :search="search"
    :server-items-length="totalItems"
    class="elevation-1"
    @page-count="pageCount = $event"
    @pagination="doSomething"
    multi-sort
    :single-select="true"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>{{ $t('cumulHours.TITLE') }}</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-row>
          <v-col cols="12" sm="6" md="8">
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              :label="$t('dataTable.SEARCH')"
              single-line
              hide-details
              clearable
              clear-icon="mdi-close"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-spacer></v-spacer>
        <v-dialog
          ref="findDialog"
          v-model="findDialog"
          :return-value.sync="date"
          persistent
          width="290px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="date"
              :label="$t('dataTable.FIND_PUNCH')"
              prepend-icon="mdi-calendar"
              readonly
              v-bind="attrs"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="date" type="month" scrollable locale="locale">
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="findDialog = false">
              Cancel
            </v-btn>
            <v-btn text color="primary" @click="save(date)">
              OK
            </v-btn>
          </v-date-picker>
        </v-dialog>

        <v-dialog v-model="planDialog" max-width="800px">
          <v-card class="mx-auto" max-width="100%">
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.cumulAgent"
                      :label="
                        $t('agentSchedule.headers.AGENT_SCHEDULE_AGENT_NAME')
                      "
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.cumulStart"
                      :label="
                        $t('agentSchedule.headers.AGENT_SCHEDULE_START_DATE')
                      "
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.cumulEnd"
                      :label="
                        $t('agentSchedule.headers.AGENT_SCHEDULE_END_DATE')
                      "
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.cumulWorked"
                      :label="
                        $t('agentSchedule.headers.AGENT_SCHEDULE_EFFECTIVE')
                      "
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.cumulPlanned"
                      :label="
                        $t('agentSchedule.headers.AGENT_SCHEDULE_PLANNED')
                      "
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-card>
                    <template>
                      <v-card class="mx-auto" max-width="300" tile>
                        <v-list>
                          <v-list-item
                            v-for="item in agentSchedules"
                            :key="item._id"
                            flat
                          >
                            <template v-slot:default="">
                              <!-- <v-list-item-action>
                                <v-checkbox :input-value="active"></v-checkbox>
                              </v-list-item-action> -->
                              <v-list-item-content>
                                <v-list-item-title>{{
                                  item.date
                                }}</v-list-item-title>
                                <v-list-item-subtitle
                                  >{{ item.site }} &nbsp; &nbsp;
                                  {{ item.shift }}
                                </v-list-item-subtitle>
                              </v-list-item-content>
                              <v-list-item-action>
                                <template v-slot:item.actions="{ item }">
                                  <v-icon small @click="deleteItem(item)">
                                    mdi-delete
                                  </v-icon>
                                </template>
                              </v-list-item-action>
                            </template>
                          </v-list-item>
                          <v-divider
                            v-if="index < items.length - 1"
                            :key="index"
                          ></v-divider>
                        </v-list>
                      </v-card>
                    </template>
                  </v-card>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">
                Cancel
              </v-btn>
              <!-- <v-btn color="blue darken-1" text @click="save">
                Save
              </v-btn> -->
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline"
              >Are you sure you want to delete this item?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete"
                >Cancel</v-btn
              >
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >OK</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)">
        mdi-pencil
      </v-icon>
    </template>
  </v-data-table>
</template>

<script>
import { mapActions } from 'vuex'
import { getFormat, buildPayloadPagination } from '@/utils/utils.js'
import formatISO from 'date-fns/formatISO'
// import parse from 'date-fns/parse'
import parseISO from 'date-fns/parseISO'
import endOfMonth from 'date-fns/endOfMonth'
import startOfMonth from 'date-fns/startOfMonth'
import * as moment from 'moment'
// import { DataTable } from 'v-datatable-light'
export default {
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('cumulHours.TITLE')} - %s`
    }
  },
  data() {
    return {
      dataTableLoading: true,
      delayTimer: null,
      findDialog: false,
      search: '',
      pagination: {},
      editedItem: {},
      defaultItem: {},
      fieldsToSearch: ['cumulAgent'],
      saving: false,
      saved: false,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      sortBy: 'cumulAgent',
      punchUsername: '',
      sortDesc: false,
      errorMessages: [],
      datePicker: [],
      validated: false,
      locale: 'fr',
      date: new Date().toISOString().substr(0, 7),
      menu: false,
      findModal: false,
      planDialog: false,
      dialogDelete: false,
      agentSchedules: [],
      schedDialog: false,
      selectedItem: 1
    }
  },
  // components: {
  //   DataTable
  // },
  computed: {
    formTitle() {
      return this.editedItem._id
        ? this.$t('dataTable.EDIT_ITEM')
        : this.$t('dataTable.NEW_ITEM')
    },
    headers() {
      return [
        {
          text: this.$i18n.t('dataTable.ACTIONS'),
          value: 'actions',
          sortable: false,
          width: 100
        },
        {
          text: this.$i18n.t('cumulHours.headers.WEEKLY_HOURS_AGENT'),
          align: 'left',
          sortable: true,
          value: 'cumulAgent'
        },
        {
          text: this.$i18n.t('cumulHours.headers.WEEKLY_HOURS_START_DATE'),
          align: 'left',
          sortable: true,
          value: 'cumulStart'
        },
        {
          text: this.$i18n.t('cumulHours.headers.WEEKLY_HOURS_END_DATE'),
          align: 'left',
          sortable: true,
          value: 'cumulEnd'
        },
        {
          text: this.$i18n.t('cumulHours.headers.WEEKLY_HOURS_WORKED'),
          align: 'left',
          sortable: true,
          value: 'cumulWorked'
        },
        {
          text: this.$i18n.t('cumulHours.headers.WEEKLY_HOURS_PLANNED'),
          align: 'left',
          sortable: true,
          value: 'cumulPlanned'
        }
      ]
    },
    agentSchedheaders: [
      { text: 'Site', sortable: true, value: 'assign_site' },
      { text: 'Date', value: 'assign_start_shift' },
      { text: 'Shift', value: 'assign_shift' }
    ],
    items() {
      return this.$store.state.adminCumulhours.cumulHours
    },
    totalItems() {
      return this.$store.state.adminCumulhours.totalCumulHours
    },
    schedules() {
      return this.$store.state.adminAgentSchedules.agentschedules
    },
    totalSchedules() {
      return this.$store.state.adminAgentSchedules.totalAgentschedules
    }
  },
  watch: {
    findDialog(value) {
      return value ? true : this.closeFind()
    },
    pagination: {
      async handler() {
        try {
          this.dataTableLoading = true
          // await this.getPunchclocks(
          //   buildPayloadPagination(this.pagination, this.buildSearch())
          // )
          this.dataTableLoading = false
          // eslint-disable-next-line no-unused-vars
        } catch (error) {
          this.dataTableLoading = false
        }
      },
      deep: true
    },
    async search() {
      clearTimeout(this.delayTimer)
      this.delayTimer = setTimeout(() => {
        this.doSearch()
      }, 400)
    },
    planDialog(val) {
      return val || this.closePlan()
    },
    // findDialog (val) {
    //   return val || this.closeFind()
    // },
    dialogDelete(val) {
      return val || this.closeDelete()
    }
  },
  methods: {
    ...mapActions([
      'getCumulHours',
      'getAgentSchedules',
      'editAgentschedule',
      'saveAgentschedule',
      'deleteAgentschedule',
      'updateAgentschedule'
    ]),
    getFormat(date) {
      window.__localeId__ = this.$store.getters.locale
      return getFormat(date, 'iii, MMMM d yyyy, h:mm a')
    },
    doSomething(v) {
      // console.log('pagination', v)
      this.pagination = v
    },
    async doSearch() {
      try {
        this.dataTableLoading = true
        // await this.getPunchclocks(
        //   buildPayloadPagination(this.pagination, this.buildSearch())
        // )
        this.dataTableLoading = false
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    buildSearch() {
      return this.search
        ? { query: this.search, fields: this.fieldsToSearch.join(',') }
        : {}
    },
    editItem(item) {
      this.editedItem = Object.assign({}, item)
      this.planDialog = true
      // this.getSchedules(item)
    },
    async getSchedules(item) {
      try {
        if (item.cumulAgent && item.cumulStart && item.cumulEnd) {
          const snapshot = await this.getAgentSchedules({
            agent: item.cumulAgent,
            dateStart: item.cumulStart,
            dateEnd: item.cumulEnd
          })
          this.agentSchedules = []
          this.schedules.forEach((element) => {
            const assign_date = formatISO(
              parseISO(
                new Date(element.assign_start_shift).toISOString().slice(0, 10)
              ),
              { representation: 'date' }
            )
            this.agentSchedules.push({
              _id: element.assign__id,
              agent: element.assign_agent,
              site: element.assign_site,
              date: assign_date,
              shift: element.assign_shift
            })
          })
        }
        console.log(this.agentSchedules)
      } catch (error) {
        console.log(error)
      }
    },
    async deleteItem(item) {
      try {
        const response = await this.$confirm(
          this.$t('common.DO_YOU_REALLY_WANT_TO_DELETE_THIS_ITEM'),
          {
            title: this.$t('common.WARNING'),
            buttonTrueText: this.$t('common.DELETE'),
            buttonFalseText: this.$t('common.CANCEL'),
            buttonTrueColor: 'red lighten3',
            buttonFalseColor: 'yellow lighten3'
          }
        )
        if (response) {
          this.dataTableLoading = true
          await this.deleteCity(item._id)
          await this.getCities(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
        }
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    closeFind() {
      this.findDialog = false
    },
    closePlan() {
      this.planDialog = false
    },
    async save(date) {
      try {
        const dateStart = formatISO(
          startOfMonth(parseISO(new Date(date).toISOString().slice(0, 10))),
          { representation: 'date' }
        )

        const dateEnd = formatISO(
          endOfMonth(parseISO(new Date(date).toISOString().slice(0, 10))),
          { representation: 'date' }
        )

        const payload = {
          dateStart,
          dateEnd
        }
        await this.getCumulHours({ dateStart, dateEnd })
      } catch (error) {
        this.close()
      }
    },
    // async getCumulHours(){
    //   const today = new Date().toISOString().slice(0, 10)
    //   const dateStart = formatISO(startOfMonth(parseISO(today)), {
    //     representation: 'date'
    //   })

    //   const dateEnd = formatISO(endOfMonth(parseISO(today)), {
    //     representation: 'date'
    //   })

    //   await this.validatePunches({ dateStart, dateEnd })
    //   // const date = moment(today).format('YYYY-MM')
    //   // await this.save(date)
    //   this.validated = true
    // },
    getColor(location) {
      if (location === 'ko') {
        return 'orange'
      }
      return 'green'
    }
  },
  async mounted() {}
}
</script>

<style>
table.v-table {
  max-width: none;
}
</style>
