<template>
  <div>
    <v-layout wrap>
      <v-flex xs12 sm12 md4 mt-3 pl-4>
        <v-toolbar-title>{{ $t('taskEquipments.TITLE') }}</v-toolbar-title>
      </v-flex>
      <v-flex xs12 sm6 md4 px-3>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          :label="$t('dataTable.SEARCH')"
          single-line
          hide-details
          clearable
          clear-icon="mdi-close"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm6 md4 text-xs-right mb-2 mt-2 pr-2>
        <v-dialog
          v-model="dialog"
          max-width="500px"
          content-class="dlgNewEditItem"
        >
          <template v-slot:activator="{ on }">
            <v-btn color="secondary" v-on="on" class="btnNewItem pr-4">
              <v-icon class="mr-2">mdi-plus</v-icon>
              {{ $t('dataTable.NEW_ITEM') }}
            </v-btn>
          </template>
          <v-data-table
            :headers="headers"
            :items="tasks"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            hide-default-footer
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            item-key="taskName"
            :search="search"
            :server-items-length="totalItems"
            class="elevation-1"
            @page-count="pageCount = $event"
            @pagination="doSomething"
          >
            <template v-slot:item._id="props">
              <v-layout class="justify-center">
                <v-tooltip top>
                  <template #activator="on">
                    <v-btn
                      v-on="on"
                      @click="editItem(props.item)"
                      icon
                      class="mx-0"
                    >
                      <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                  </template>
                  <span>{{ $t('dataTable.EDIT') }}</span>
                </v-tooltip>
                <v-tooltip top>
                  <template #activator="on">
                    <v-btn
                      icon
                      color="yellow darken-1"
                      class="mx-0"
                      v-on="on"
                      @click="deleteItem($event, props.item)"
                    >
                      <v-icon>mdi-delete</v-icon>
                    </v-btn>
                  </template>
                  <span>{{ $t('dataTable.DELETE') }}</span>
                </v-tooltip>
              </v-layout>
            </template>
            <template v-slot:no-data>{{ $t('dataTable.NO_DATA') }}</template>
            <template v-slot:no-results>{{
              $t('dataTable.NO_RESULTS')
            }}</template>
          </v-data-table>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <template v-if="editedItem._id">
                    <v-flex xs12 md6>
                      <label for="createdAt">{{ $t('common.CREATED') }}</label>
                      <div name="createdAt">
                        {{ getFormat(editedItem.createdAt) }}
                      </div>
                    </v-flex>
                    <v-flex xs12 md6>
                      <label for="updatedAt">{{ $t('common.UPDATED') }}</label>
                      <div name="updatedAt">
                        {{ getFormat(editedItem.updatedAt) }}
                      </div>
                    </v-flex>
                  </template>
                  <!-- <v-flex xs12 md6>
                    <v-autocomplete
                      v-model="assignTask"
                      :items="tasks"
                      dense
                      filled
                      :label="$t('assignments.headers.ASSIGN_TASK')"
                    ></v-autocomplete>
                  </v-flex> -->
                  <!-- <v-row>
                    <template>
                      <v-container class="grey lighten-5">
                        <v-row no-gutters>
                          <template>
                            <v-col>
                              <v-card class="mx-auto" max-width="400">
                                <v-toolbar color="green" dark>
                                  <v-app-bar-nav-icon></v-app-bar-nav-icon>
                                  <v-toolbar-title>Affectés</v-toolbar-title>
                                  <v-spacer></v-spacer>
                                  <v-btn icon>
                                    <v-icon>mdi-magnify</v-icon>
                                  </v-btn>
                                </v-toolbar>
                                <v-list dark>
                                  <v-list-item
                                    v-for="(item, index) in assigned"
                                    :key="index"
                                  >
                                    <v-list-item-content>
                                      <v-list-item-title>{{
                                        item.name
                                      }}</v-list-item-title>
                                    </v-list-item-content>
                                    <v-list-item-action>
                                      <v-checkbox
                                        @change="onChangeAssigned(index, item)"
                                      >
                                      </v-checkbox>
                                    </v-list-item-action>
                                  </v-list-item>
                                </v-list>
                              </v-card>
                            </v-col>
                          </template>
                          <template>
                            <v-col>
                              <v-card class="mx-auto" max-width="400">
                                <v-toolbar color="purple" dark>
                                  <v-app-bar-nav-icon></v-app-bar-nav-icon>
                                  <v-toolbar-title>Equipments</v-toolbar-title>
                                  <v-spacer></v-spacer>
                                  <v-btn icon>
                                    <v-icon>mdi-magnify</v-icon>
                                  </v-btn>
                                </v-toolbar>
                                <v-list dark>
                                  <v-list-item
                                    v-for="(item, index) in equipments"
                                    :key="item.id"
                                  >
                                    <v-list-item-content>
                                      <v-list-item-title>{{
                                        item.name
                                      }}</v-list-item-title>
                                    </v-list-item-content>
                                    <v-list-item-action>
                                      <v-checkbox
                                        id="available"
                                        @change="
                                          onChangeEquipments(index, item)
                                        "
                                      >
                                      </v-checkbox>
                                    </v-list-item-action>
                                  </v-list-item>
                                </v-list>
                              </v-card>
                            </v-col>
                          </template>
                        </v-row>
                      </v-container>
                    </template>
                  </v-row> -->
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="red lighten3"
                text
                @click="close"
                class="btnCancel"
                >{{ $t('dataTable.CANCEL') }}</v-btn
              >
              <v-btn
                color="yellow lighten3"
                text
                @click="save"
                class="btnSave"
                >{{ $t('dataTable.SAVE') }}</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-flex>
    </v-layout>
    <!-- <v-data-table
      :headers="headers"
      :items="tasks"
      :page.sync="page"
      :items-per-page="itemsPerPage"
      hide-default-footer
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      item-key="taskName"
      :search="search"
      :server-items-length="totalItems"
      class="elevation-1"
      @page-count="pageCount = $event"
      @pagination="doSomething"
    >
      <template v-slot:item._id="props">
        <v-layout class="justify-center">
          <v-tooltip top>
            <template #activator="on">
              <v-btn v-on="on" @click="editItem(props.item)" icon class="mx-0">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </template>
            <span>{{ $t('dataTable.EDIT') }}</span>
          </v-tooltip>
          <v-tooltip top>
            <template #activator="on">
              <v-btn
                icon
                color="yellow darken-1"
                class="mx-0"
                v-on="on"
                @click="deleteItem($event, props.item)"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </template>
            <span>{{ $t('dataTable.DELETE') }}</span>
          </v-tooltip>
        </v-layout>
      </template>
      <template v-slot:no-data>{{ $t('dataTable.NO_DATA') }}</template>
      <template v-slot:no-results>{{ $t('dataTable.NO_RESULTS') }}</template>
    </v-data-table> -->
    <ErrorMessage />
    <SuccessMessage />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { getFormat, buildPayloadPagination } from '@/utils/utils.js'

export default {
  metaInfo() {
    return {
      title: this.$store.getters.appTitle,
      titleTemplate: `${this.$t('tasks.TITLE')} - %s`
    }
  },
  data() {
    return {
      dataTableLoading: true,
      delayTimer: null,
      dialog: false,
      search: '',
      pagination: {},
      editedItem: {},
      defaultItem: {},
      fieldsToSearch: ['taskName'],
      saving: false,
      saved: false,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      sortBy: 'username',
      sortDesc: false,
      assigned: [],
      errorMessages: [],
      taskEquipments: []
    }
  },
  computed: {
    formTitle() {
      return this.editedItem._id
        ? this.$t('dataTable.EDIT_ITEM')
        : this.$t('dataTable.NEW_ITEM')
    },
    headers() {
      return [
        {
          text: this.$i18n.t('dataTable.ACTIONS'),
          value: '_id',
          sortable: false,
          width: 100
        },
        {
          text: this.$i18n.t('tasks.headers.TASK_NAME'),
          align: 'left',
          sortable: true,
          value: 'taskName'
        },
        {
          text: this.$i18n.t('tasks.headers.TASK_DESCRIPTION'),
          align: 'left',
          sortable: true,
          value: 'taskDescription'
        },
        {
          text: this.$i18n.t('common.CREATED'),
          align: 'left',
          sortable: true,
          value: 'createdAt'
        },
        {
          text: this.$i18n.t('common.UPDATED'),
          align: 'left',
          sortable: true,
          value: 'updatedAt'
        }
      ]
    },
    items() {
      return this.$store.state.taskEquipments.allTaskEquipments
    },
    tasks() {
      return this.populateTasks(this.$store.state.tasks.allTasks)
    },
    equipments() {
      // return this.$store.state.equipment.allEquipments
      return this.populateEquips(this.$store.state.equipment.allEquipments)
    },
    totalItems() {
      return this.$store.state.adminTaskEquipment.totalTaskEquipments
    }
  },
  watch: {
    dialog(value) {
      return value ? true : this.close()
    },
    pagination: {
      async handler() {
        try {
          this.dataTableLoading = true
          await this.getTasks(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
          // eslint-disable-next-line no-unused-vars
        } catch (error) {
          this.dataTableLoading = false
        }
      },
      deep: true
    },
    async search() {
      clearTimeout(this.delayTimer)
      this.delayTimer = setTimeout(() => {
        this.doSearch()
      }, 400)
    }
  },
  methods: {
    ...mapActions([
      'getTaskEquipments',
      'editTaskEquipment',
      'saveTaskEquipment',
      'deleteTaskEquipment',
      'getAllTasks',
      'getAllEquipments',
      'getAllTaskEquipments'
    ]),
    populateTasks(taskArray) {
      // console.log(this.items)
      this.taskEquipments = taskArray.reduce(
        (accumulator, currentValue, index, array) => {
          accumulator.push({
            text: `${currentValue.taskName}`,
            value: `${currentValue._id}`
          })
          return accumulator
        },
        []
      )
      // console.log(this.tasks)
      return this.taskEquipments
    },
    populateEquips(equipArray) {
      this.equipments = equipArray.reduce(
        (accumulator, currentValue, index, array) => {
          accumulator.push({
            text: `${currentValue.equipmentName}`,
            value: `${currentValue._id}`
          })
          return accumulator
        },
        []
      )
      // console.log(this.equipments)
      return this.equipments
    },
    getFormat(date) {
      window.__localeId__ = this.$store.getters.locale
      return getFormat(date, 'iii, MMMM d yyyy, h:mm a')
    },
    doSomething(v) {
      // console.log('pagination', v)
      this.pagination = v
    },
    async doSearch() {
      try {
        this.dataTableLoading = true
        await this.getTasks(
          buildPayloadPagination(this.pagination, this.buildSearch())
        )
        this.dataTableLoading = false
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    buildSearch() {
      return this.search
        ? { query: this.search, fields: this.fieldsToSearch.join(',') }
        : {}
    },
    editItem(item) {
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    async deleteItem(item) {
      try {
        const response = await this.$confirm(
          this.$t('common.DO_YOU_REALLY_WANT_TO_DELETE_THIS_ITEM'),
          {
            title: this.$t('common.WARNING'),
            buttonTrueText: this.$t('common.DELETE'),
            buttonFalseText: this.$t('common.CANCEL'),
            buttonTrueColor: 'red lighten3',
            buttonFalseColor: 'yellow lighten3'
          }
        )
        if (response) {
          this.dataTableLoading = true
          await this.deleteTask(item._id)
          await this.getTasks(
            buildPayloadPagination(this.pagination, this.buildSearch())
          )
          this.dataTableLoading = false
        }
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
      }
    },
    close() {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
      }, 300)
    },
    async save() {
      try {
        const valid = await this.$validator.validateAll()
        if (valid) {
          this.dataTableLoading = true
          // Updating item
          if (this.editedItem._id) {
            await this.editTask(this.editedItem)
            await this.getTasks(
              buildPayloadPagination(this.pagination, this.buildSearch())
            )
            this.dataTableLoading = false
          } else {
            // Creating new item
            await this.saveTask({
              taskName: this.editedItem.taskName,
              taskDescription: this.editedItem.taskDescription
            })
            await this.getTasks(
              buildPayloadPagination(this.pagination, this.buildSearch())
            )
            this.dataTableLoading = false
          }
          this.close()
        }
        // eslint-disable-next-line no-unused-vars
      } catch (error) {
        this.dataTableLoading = false
        this.close()
      }
    },
    onChangeEquipments(id, item) {
      const index = this.items.indexOf(this.items[id])
      // console.log(index)
      const equipment = {
        id: this.equipments[index].id,
        name: this.equipments[index].equipmentName
      }
      this.assigned.push(equipment)
      // this.$delete(this.$store.state.adminUsers.users, this.agents[index].id)
      this.$delete(this.items, index)
      this.$emit('onChangeAvailable', this.items)
    },
    onChangeAssigned(id, equip) {
      const index = this.assigned.indexOf(this.assigned[id])
      const equipment = {
        id: this.assigned[index].id,
        name: this.assigned[index].equipmentName
      }
      this.equipments.push(equipment)
      // this.selected.push(item)
      this.$delete(this.assigned, index)
      this.$emit('onChangeAssigned', this.assigned)
    }
  },
  async mounted() {
    await this.getAllTasks()
    await this.getAllEquipments()
    await this.getAllTaskEquipments()
    console.log(this.items)
  }
}
</script>

<style>
table.v-table {
  max-width: none;
}
</style>
