<template>
  <div class="page">
    <h1 class="text-center">Your Local Representatives</h1>
    <template v-if="noLocation">
      <h2 class="text-center">
        Enable geolocation to see list of representatives
      </h2>
    </template>
    <template v-if="!noLocation">
      <b-card v-for="(r, i) in reps" :key="i" class="card">
        <b-card-title>
          <h2>
            <avatar :src="r.photo_url" :inline="true"></avatar>
            <span class="title">{{ r.name }}</span>
          </h2>
        </b-card-title>
        <b-card-text>
          <h5>Offices:</h5>
          <div v-for="(o, i) in r.offices" :key="i">
            <p>
              <b>Address:</b>
              {{ o.postal }}
            </p>
            <p>
              <b>Telephone:</b>
              {{ o.tel }}
            </p>
            <p>
              <b>Type:</b>
              {{ o.type }}
            </p>
          </div>
          <p>
            <b>Party:</b>
            {{ r.party_name }}
          </p>
        </b-card-text>
        <b-button :href="r.url" variant="primary" target="_blank"
          >Go to Source</b-button
        >
      </b-card>
    </template>
  </div>
</template>
<script>
import { requestsMixin } from '@/mixins/requestsMixin'
import Avatar from 'vue-avatar'
export default {
  name: 'home',
  mixins: [requestsMixin],
  data() {
    return {
      reps: [],
      noLocation: true
    }
  },
  components: {
    Avatar
  },
  beforeMount() {
    this.getAllRepresentatives()
  },
  methods: {
    async getAllRepresentatives() {
      try {
        const coordinates = await this.$getLocation({
          enableHighAccuracy: true
        })
        const { lat, lng } = coordinates
        const response = await this.getRepresentatives(lat, lng)
        this.reps = response.data.objects
        this.noLocation = false
      } catch (error) {
        this.noLocation = true
      }
    }
  }
}
</script>
