<template>
  <v-data-table
      :headers="headers"
    :items="items"
      :page.sync="page"
      :items-per-page="itemsPerPage"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
    item-key="punchUsername"
      :search="search"
    :server-items-length="totalItems"
      class="elevation-1"
      @page-count="pageCount = $event"
      @pagination="doSomething"
      multi-sort
    :single-select="true"
  >
    <template v-slot:top>
      <v-toolbar
        flat
        <v-toolbar-title>{{ $t('cumulHours.TITLE') }}</v-toolbar-title>

        <v-row>
        <v-col cols="12" sm="6" md="8">
            <v-text-field
            v-model="search"
              append-icon="mdi-magnify"
            :label="$t('dataTable.SEARCH')"
              single-line
            hide-details
              clearable
            clear-icon="mdi-close"
            ></v-text-field>
        </v-col>
        </v-row>
      <!-- <v-flex xs12 sm6 md4 text-xs-right mb-2 mt-2 pr-2> -->
        <v-dialog
          ref="dialog"
          v-model="modal"
          :return-value.sync="date"
          persistent
          width="290px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="date"
              :label="$t('dataTable.FIND_PUNCH')"
              prepend-icon="mdi-calendar"
              readonly
              v-bind="attrs"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="date" type="month" scrollable locale="locale">
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="modal = false">
              Cancel
            </v-btn>
            <v-btn text color="primary" @click="save(date)">
              OK
            </v-btn>
          </v-date-picker>
        </v-dialog>
      </v-toolbar>
      <!-- </v-flex> -->
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
          mdi-pencil
        </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
          mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn
        color="primary"
        @click="initialize"
          Reset
      </v-btn>
      </template>
      <template v-slot:no-results>{{ $t('dataTable.NO_RESULTS') }}</template>
    </template>
  </v-data-table>
    <ErrorMessage />
    <SuccessMessage />
  <!-- </div> -->
</template>
